<div class="tab-pane" id="Crateaccount">
    <div class="common-design Wlheading">
       <div class="CrtFrom">
          <form id="ngForm" [formGroup]="registrationForm" (ngSubmit)="audioSubmit1(registrationForm) ">
            <div class="parent-account">
             <div class="pactive mainsectionC">
               <h3>Hello , {{userDetail[0]?.fname}}</h3>
               <div class="row"> 
               <div class="form-group col-md-6 col-sm-6 col-12">
                  <input type="hidden" name="userId" [(ngModel)]="userDetail[0].id"  formControlName="userId" value="{{userDetail[0]?.id}}" >
                  <input type="text" name="fname" [(ngModel)]="userDetail[0].fname" value="{{userDetail[0].fname}}" formControlName="fname" placeholder="First Name" class="form-control" required="required">
                  <div *ngIf="submitted && registrationForm.controls.fname.errors" class="form_required">
                      <div *ngIf="registrationForm.controls.fname.errors.required">Please provide first name</div>
                      <div *ngIf="registrationForm.controls.fname.errors.pattern">Only charcter are allowed</div>
                  </div>
               </div> 
               <div class="form-group col-md-6 col-sm-6 col-12">
                  <input type="text" name="lname" [(ngModel)]="userDetail[0].lname" value="{{userDetail[0].lname}}"  placeholder="Last Name" formControlName="lname" class="form-control" required="required">
                  <div *ngIf="submitted && registrationForm.controls.lname.errors" class="form_required">
                      <div *ngIf="registrationForm.controls.lname.errors.required">Please provide last name</div>
                      <div *ngIf="registrationForm.controls.lname.errors.pattern">Only charcter are allowed</div>
                  </div>
               </div>
               <div class="form-group col-md-12 col-sm-12 col-12">
                  <input type="text" name="saddress" [(ngModel)]="userDetail[0].saddress" value="{{userDetail[0].saddress}}" placeholder="Street Address" formControlName="saddress" class="form-control" required="required">
                  <div *ngIf="submitted && registrationForm.controls.saddress.errors" class="form_required">
                      <div *ngIf="registrationForm.controls.saddress.errors.required">Please provide street name</div>
                  </div>
               </div>
               <div class="form-group col-md-6 col-sm-6 col-12">
                 <input type="text" name="city" placeholder="City" [(ngModel)]="userDetail[0].city" value="{{userDetail[0].city}}" class="form-control" formControlName="city" required="required">
                 <div *ngIf="submitted && registrationForm.controls.city.errors" class="form_required">
                    <div *ngIf="registrationForm.controls.city.errors.required">Please provide city name</div>
                    <div *ngIf="registrationForm.controls.city.errors.pattern">Invalid city name</div>
                </div>
               </div> 
               <div class="form-group col-md-2 col-sm-2 col-12">
                 <!-- <input type="text" name="state" placeholder="State" formControlName="state" class="form-control" required="required"> -->
                <select  [(ngModel)]="userDetail[0].state" formControlName="state" required id="state" (change)="memberChange($event.target.value)" class="form-control commonselect kids" name="state">
                    <option hidden value="" disabled selected>State</option>
                    <ng-container *ngFor="let item of states | keyvalue">
                      <option  value={{item.value}}>
                        {{item.value}}
                      </option>
                    </ng-container>
                </select>
                <div *ngIf="submitted && registrationForm.controls.state.errors" class="form_required">
                    <div *ngIf="registrationForm.controls.state.errors.required">Please provide state name</div>
                    <div *ngIf="registrationForm.controls.state.errors.pattern">Invalid state name</div>
                </div>
               </div>
               <div class="form-group col-md-4 col-sm-4 col-12">
                 <input [(ngModel)]="userDetail[0].zipcode" value="{{userDetail[0].zipcode}}" type="text" (keypress)="onlyzipcode($event.target.value)" name="zipcode" formControlName="zipcode" placeholder="Zip code" class="form-control" required="required">
                 <div *ngIf="submitted && registrationForm.controls.zipcode.errors" class="form_required">
                    <div *ngIf="registrationForm.controls.zipcode.errors.required">Please provide zipcode</div>
                    <div *ngIf="registrationForm.controls.zipcode.errors.pattern">Invalid Zipcode</div>
                  </div>
               </div>
               
               <div class="form-group col-md-12 col-sm-12 col-12">
                  <input [(ngModel)]="userDetail[0].email" value="{{userDetail[0].email}}" disabled type="email" name="email" formControlName="email" placeholder="E-mail #1" class="form-control" required="required">
                    <div *ngIf="submitted && registrationForm.controls.email.errors" class="form_required">
                      <div *ngIf="registrationForm.controls.email.errors.required">Please provide email</div>
                      <div *ngIf="f.email.errors.email">Invalid Email Address</div>
                    </div>
               </div>
               
                <div class="form-group col-md-6 col-sm-6 col-12">
  
                  <input  [(ngModel)]="userDetail[0].email1" value="{{userDetail[0].email1}}" type="email" name="email1" formControlName="email1" placeholder="E-mail #2" class="form-control" >
                    <!--  
                    <div *ngIf="submitted && registrationForm.controls.email1.errors" class="form_required">
                      <div *ngIf="registrationForm.controls.email1.errors.required">Please provide another email</div>
                      <div *ngIf="registrationForm.controls.email1.errors.pattern">Invalid Email Address</div>
                    </div> 
                  -->
               </div>
               <div class="form-group col-md-3 col-sm-3 col-12" >
                  <input [(ngModel)]="userDetail[0].phone" value="{{userDetail[0].phone}}" type="text" name="phone" formControlName="phone" placeholder="Phone #1" class="form-control" required="">
                    <div *ngIf="submitted && registrationForm.controls.phone.errors" class="form_required">
                      <div *ngIf="registrationForm.controls.phone.errors.required">Please provide phone</div>
                      <div *ngIf="registrationForm.controls.phone.errors.pattern">Invalid phone number</div>
                    </div> 
              </div>                                    
              <div class="form-group col-md-3 col-sm-3 col-12">
                  <input [(ngModel)]="userDetail[0].phone2" value="{{userDetail[0].phone2}}"  type="text" name="phone2" placeholder="Phone #2" formControlName="phone2" class="form-control">
                 <!--
                    <div *ngIf="submitted && registrationForm.controls.phone2.errors" class="form_required">
                      <div *ngIf="registrationForm.controls.phone2.errors.required">Please provide another phone number</div>
                      <div *ngIf="registrationForm.controls.phone2.errors.pattern">Invalid phone number</div>
                    </div>
                  -->
              </div>
              
              <div class="form-group col-md-12 col-sm-12 col-12">
                            <div class="row drives-mains">
                              <div customdatepicker class="datepicker"  min-date="-20" max-date="'2018-05-02T22:00:00.000Z'"></div>
                              <div class="col-md-4 col-sm-4 col-12 md5relatives">
                                <div class="d-flex">
                                  <label>Driver's License:</label>
                                   <input [(ngModel)]="userDetail[0].drivingLic" value="{{userDetail[0].drivingLic}}" type="text" formControlName="drivingLic" name="drivingLic" placeholder="" required="" class="form-control"> 
                                   <div *ngIf="submitted && registrationForm.controls.drivingLic.errors" class="form_required">
                                      <div *ngIf="registrationForm.controls.drivingLic.errors.required">Please provide driving license</div>
                                    </div>
                                </div>     
                               </div>
                               <div class="col-md-2 col-sm-2 col-12 md5relatives">
                                 <div class="d-flex">
                                  <label>State:</label>
                                   <!-- <input type="text" formControlName="licen_state" name="licen_state" placeholder="" required="" class="form-control">   -->
                                   <select [ngModel]="userDetail[0].licen_state" formControlName="licen_state" id="licen_state" (change)="memberChange($event.target.value)" class="form-control commonselect kids" name="licen_state">
                                    <option hidden value="" disabled selected>State </option> 
                                    <ng-container *ngFor="let item of states | keyvalue">
                                          <option value={{item.value}}>
                                              {{item.value}}
                                            </option>
                                    </ng-container>
                                      
                                   </select>
                                   <div *ngIf="submitted && registrationForm.controls.licen_state.errors" class="form_required">
                                      <div *ngIf="registrationForm.controls.licen_state.errors.required">Please provide state</div>
                                      <div *ngIf="registrationForm.controls.licen_state.errors.pattern">Invalid state</div>
                                    </div>
                                   </div>   
                               </div>
                               <!-- <div class="col-md-4 col-sm-4 col-12 md5relatives elatives">
                                  <div class="">
                                  <label>Number:</label>
                                   <input type="text" formControlName="d_l_number" name="d_l_number" placeholder="" required="" class="form-control">  
                                   <div *ngIf="submitted && registrationForm.controls.d_l_number.errors" class="form_required">
                                      <div *ngIf="registrationForm.controls.d_l_number.errors.required">Please provide driver's license number</div>
                                    </div>
                                 </div> 
                               </div> -->
                               <div class="col-md-6 col-sm-6 col-12 form-group md5relatives">
                                  <div class="d-flex">
                                    <label>Birthday(MM/DD/YYYY):</label>
                                      <!-- 
                                        <div class="input-group">
                                        <input class="bdayss" placeholder="" type="text" formControlName="birthdate" required="" name="birthdate" mwlFlatpickr [(ngModel)]="selectedDate" [altInput]="true" [convertModelValue]="true">
                                      </div><br> 
                                      <div *ngIf="submitted && registrationForm.controls.birthdate.errors" class="form_required">
                                          <div *ngIf="registrationForm.controls.birthdate.errors.required">Please provide Birthdate</div>
                                      </div> -->
                                      <!--  date picker ext -->
                                      <div id="default-birthday"></div>
                                      <!--  date picker ext end -->
                                    </div>
                              </div>
                          </div>
               </div>
             
  
               <div class="form-group col-md-12 col-sm-12 col-12 text-right">
                  <button type="button" (click)="goToNextSlide($event)" class="btn_sub btn nextslidess">Next</button>
               </div>
            </div>
         </div>
         <div class="mainsectionC">
            <h3>CREATE ACCOUNT (PAGE 2 of 2)</h3>
  
            <div class="yesnodiv">
                  <h4>Have you ever stayed with us before?</h4>
                  <button type="button" class="Yclick"> Yes </button>
                  <button type="button" class="Nclick"> No </button>
               </div>
               <div class="yesclick">
                <div class="row">
                  <div class="col-md-12">
                     <p><b>Returning Guest: </b> 1</p>
                  </div>
                </div>
               </div>
               <div class="noclick">
                  <h4><span>1).</span> How did you hear about us?</h4>
                  <div class="row">
                     <div class="form-group col-md-12 col-sm-12 radiodesign">
                       <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Recommended by friend/relative/etc.
                            <span></span>
                          </label>
                        </div> 
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="checkapndchld" name="optradio" value="Recommended by local establishment">Recommended by local establishment
                            <span></span> 
                          </label>
                          <div class="dblocknew">
                           <div class="form-group">
                              <select class="form-control onlyclick" id="sel116">
                                <option>Boathouse Bar & Grill</option>
                                <option>Chevron Gas Station</option>
                                <option>Dollar General</option>
                                <option>Marina Market</option>
                                <option>Romi's Restaurant</option>
                                <option value="other">Other</option>
                              </select>
                              <div class="other-showchild">
                                 <input type="text" name="" placeholder="Other" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div> 
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Saw sign on Highway 20
                            <span></span>
                          </label>
                        </div> 
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">Chamber of Commerce
                            <span></span>
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optradio">RV Dealership (If chosen, please as which one)
                            <span></span>
                          </label>
                        </div>  
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="otherD" name="optradio">Other,
                            <span></span>
                          </label>
                          <div class="other-showchild">
                              <input type="text" name="" placeholder="Other" class="form-control">
                           </div>
                        </div>  
                     </div>
                  </div>
                  
                  <div class="favorite-rvpark">
                     <h4><span>2).</span> What is your favorite RV Park in the world? </h4>
                       <select id="colorselector" class="clicknuts">
                          <option>The Aurora RV Park</option>
                          <option>The Aurora RV Park</option>
                          <option>The Aurora RV Park</option>
                          <option>The Aurora RV Park</option>
                          <option>The Aurora RV Park</option>
                          <option>The Aurora RV Park</option>
                       </select>
                     <!-- <p class="clicknuts">The Aurora RV Park</p> -->
                  </div>
  
                </div>
  
             <div class="row">
               <div class="col-12"><label> <b>Number in party:</b></label></div>
               <div class="form-group col-md-3 col-sm-3 col-12 creatlabels">
                  <div class="d-flex">
                     <label>Age > 12</label>
                     <select [(ngModel)]="userDetail[0].kids" formControlName="kids" id="kids" (change)="memberChange($event.target.value)" class="form-control commonselect kids" name="kids">
                       <option selected="">0</option>
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                     </select>
                  </div>
               </div>
  
               <div class="form-group col-md-3 col-sm-3 col-12 creatlabels">
                  <div class="d-flex">
                  <label>Age < 13 </label>
                  <select [(ngModel)]="userDetail[0].adults" formControlName="adults" id="adults" (change)="memberChange($event.target.value)" class="form-control commonselect adults" name="adults">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                  </select>
                 </div>
               </div>
               <div class="form-group col-md-3 col-sm-3 col-12 creatlabels">
                  <div class="d-flex">
                  <label>Pets</label> 
                  <select [(ngModel)]="userDetail[0].pets" formControlName="pets" (change)="memberChange($event.target.value)" id="pets" class="form-control commonselect pets" name="pets">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                  </select>
                 </div>
               </div>
               <div class="form-group col-md-3 col-sm-3 col-12 creatlabels">
                  <div class="d-flex">
                  <label>Total</label>
                  <input pattern="[0-9]*"  disabled type="text" [value]="1" value="1" name="total_member" id="sumvalues" [(ngModel)]="totalMember" formControlName="total_member"  placeholder="Total" class="form-control totalMenberss" >
                  <div *ngIf="submitted && registrationForm.controls.total_member.errors" class="form_required">
                    <div *ngIf="registrationForm.controls.total_member.errors.required">Please provide member</div> 
                    <div *ngIf="registrationForm.controls.total_member.errors.pattern">Invalid total number</div>
                  </div>
               </div>
               </div>
             </div>
             <div class="row allvichelstab">
               <div class="col-12"><label> <b>Vehicles:</b></label></div>
               <div class="form-group col-md-2 col-sm-2 col-12 creatlabels">
                   <div class="form-group d-flex">
                     <label for="sel1">Auto/Pickup</label>
                     <select [(ngModel)]="userDetail[0].pickup_auto" formControlName="pickup_auto" id="pickup_auto" name="pickup_auto" class="form-control" id="sel117">
                       <option selected="">0</option>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                       <option>4</option>
                     </select>
                   </div>
               </div>
               <div class="form-group col-md-2 col-sm-2 col-12 creatlabels">
                   <div class="form-group d-flex">
                     <label for="sel1">Motorhome </label>
                     <select [(ngModel)]="userDetail[0].motor_home" formControlName="motor_home" name="motor_home" class="form-control" id="sel128">
                       <option selected="">0</option>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                       <option>4</option>
                     </select>
                   </div>
               </div>
               <div class="form-group col-md-2 col-sm-2 col-12 creatlabels">
                   <div class="form-group d-flex">
                     <label for="sel1">Travel Trailer</label>
                     <select [(ngModel)]="userDetail[0].pickup_trailer" formControlName="pickup_trailer" name="pickup_trailer" class="form-control" id="sel13">
                       <option selected="">0</option>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                       <option>4</option>
                     </select>
                   </div>
               </div>
               <div class="form-group col-md-2 col-sm-2 col-12 creatlabels">
                   <div class="form-group d-flex">
                     <label for="sel1">Fifth Wheel</label>
                     <select [(ngModel)]="userDetail[0].pickup_fifthe_wheel" formControlName="pickup_fifthe_wheel" name="pickup_fifthe_wheel" class="form-control" id="sel14">
                       <option selected="">0</option>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                       <option>4</option>
                     </select>
                   </div>
               </div>
               <div class="form-group col-md-2 col-sm-2 col-12 creatlabels">
                   <div class="form-group d-flex">
                     <label for="sel1">Boat </label>
                     <select [(ngModel)]="userDetail[0].pickup_boat" formControlName="pickup_boat" name="pickup_boat" class="form-control" id="sel1">
                       <option selected="">0</option>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                       <option>4</option>
                     </select>
                   </div>
               </div>
               <div class="form-group col-md-2 col-sm-2 col-12 creatlabels">
                   <div class="form-group d-flex">
                     <label for="sel1">Other  </label>
                     <select [(ngModel)]="userDetail[0].pickup_other" formControlName="pickup_other" name="pickup_other" class="form-control" id="sel15">
                       <option selected="">0</option>
                       <option>1</option>
                       <option>2</option>
                       <option>3</option>
                       <option>4</option>
                     </select>
                   </div>
               </div>
  
  
               <div class="form-group col-md-12 col-sm-12 col-12">
                 <div class="row displayones">
                     <div class="col-md-6 col-sm-6 col-12">
                        <div class="mymainlic">
                        <label><b>Main license plate:</b></label>
                        <input [ngModel]="userDetail[0].licence_plate_number" formControlName="licence_plate_number" name="licence_plate_number" type="text" name="" class="form-control">
                        </div> 
                     </div>
                     <div class="col-md-6 col-sm-6 col-12">
                        <div class="mymainlic5">
                        <label><b>Length of longest vehicle (in feet):</b></label>
                        <input [ngModel]="userDetail[0].long_vehicle_length" pickup_autoid="onlyNumber" (keydown)="onlypositiveNumbers($event)" type="number"  [min]="0" [max]="100" maxlength="5" formControlName="long_vehicle_length" name="long_vehicle_length" class="form-control">
                        <div *ngIf="submitted && registrationForm.controls.long_vehicle_length.errors" class="form_required">
                            <div *ngIf="registrationForm.controls.long_vehicle_length.errors.required">Please provide Longest vehicle length</div>
                            <div *ngIf="registrationForm.controls.long_vehicle_length.errors.pattern">Invalid Longest vehicle length</div>
                        </div> 
                     </div>
                     </div>
                  </div>
               </div> 
               </div>
               <div class="row">
                  <div class="form-group col-md-12 col-sm-12 col-12 text-right">
                    <button type="button" class="btn_sub btn  prevslidesss" id="prevslides" style="float:left;">Previous</button>
                    <button type="submit" class="btn_sub btn ">Submit</button>
                  </div>
               </div>
           </div>
  
           </div>
          </form>
       </div>
    </div>
  </div>
