
<div class="testimonials text-center">
  <div class="owl-carousel" id="testimonialssl">
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/1a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/2a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/3a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/4a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/6a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/7a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/8a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/9a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/10a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/12a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg" style="background:url('assets/images/banner/13a.png');">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/14a.png" class="w-100" alt="">
        </div>
     </div>
     <div class="item">
        <div class="testimonials-bg">
         <img src="assets/images/banner/15a.png" class="w-100" alt="">
        </div>
     </div>
  </div>
</div>
<!--==========testimonials==============-->
<!--==============Overview Tabs =============-->
<div class="tab-content appendcontent">
  <div class="tab-pane active" id="welcome">
     <div class="common-design Wlheading">
        <h3>WELCOME TO THE AURORA!</h3>
        <p>Thank you for your interest in our park, where our guests spend their days enjoying some of the most spectacular vistas in the world. (You can see that for yourself in the pictures on this website. None of these have been enhanced. What you are seeing is what came out of the camera which - phenomenal as the pictures appear - are still nowhere near the majesty of views when you are actually here.) We are dedicated to having every visitor thrill at what we offer and will do everything we can to make sure you have a wonderful stay.</p>
        <p>Because we are situated right on the shore of California's largest lake, you can step right outside your rig and bask in this amazing setting. But Clear Lake has far more than phenomenal beauty. For instance, it is world renowned as a fishing destination, being the only lake in all of North America that has been in Bassmaster's Top Ten lakes every year since that rating system began. Additionally, the American Lung Association has rated Lake County as being #1 in terms of having the cleanest air in the nation in all of the counties they have sampled. Thus, not only do we have crystal clear views of the daytime sights, but the night skies are spectacular. In fact, the Milky Way is visible almost every night from March through October (as well as in a large percentage of the other nights, weather permitting).  </p>
        <p>We have canoes, kayaks and paddle-boats that our guests can use free of charge. We strongly suggest that you take one out in the early morning, when the water is often like glass ... it is enchanting. For boaters, we have our own boat ramp. (There is another boat ramp maintained by the county a few hundred feet away. That one has a dock as well.) We have fire pits for evening campfires and a large barbecue area. (We have small permanent barbecues, too, and portable ones we lend to guests who wish one of those.) Movie night at our lakeside theater is an absolute treat, with the lake providing a captivating backdrop behind the movie screen. Play ping-pong, read, play games, and more in our activities room, or sit out at "the point" where there is a 300+ degree view of the water. While there, enjoy the multitude of birds that seem to love our space as much as our guests. Grebes, ducks, coots, egrets, geese, and gulls are almost always present. Huge flocks of pelicans are not unusual, filling the sky with their flight formations, or floating on the lake and participating in feeding frenzies. Birds of prey - like osprey and bald eagles drop by now and again. An otter family is often spotted near our "Otter Island," and occasionally deer, possums, and other mammals are seen.</p>
        <p>Opportunities abound for hiking and exploring, such as on Mt. Konocti (our local dormant volcano) or at Clear Lake State Park. There are three nearby casinos, a variety of wineries, and even a planetarium in the area. The town in which we are situated (Nice) is less than a mile away, and has markets, restaurants, gas stations, a hardware store, a Dollar General, and so on. Tourists enjoy the rustic Main Street of Upper Lake, which is five minutes away, and Lakeport (the county seat) can be reached in about 12 minutes. Next door there is a lovely county park, with swings, slides, picnic tables, old growth trees, and more. For those with pets, not only are we dog-friendly, but there is a wonderful newly-installed dog park about a half a mile away. </p>
        <p>One more thing that we have - perhaps the most important (aside from our guests) - is an amazing staff that will do whatever it takes to ensure your satisfaction. Just let us know how we can serve you, and we will do our best to do just that. Our motto is in our web address, for we definitely want you to <a routerLink="/" >www.EnjoyOurPark.com!</a></p>
     </div>
  </div>
  <div class="tab-pane fade" id="Aurora">
     <div class="common-design Wlheading">
        <h3>AURORA HISTORY</h3>
        <p>We are still trying to gather information about the history of the Aurora. So if any of you know about the past - especially the distant past - please contact us with that information.</p>
        <p>The first official information we have in regard to the property is from July 1, 1922, showing that it was part of the Clear Lake Villas subdivision.</p>
        <p>What happened between 1922 and 1994 is pretty much unknown. Apparently, however, the Aurora was "THE happening spot" on the lake in the 1950s - 1970s. There was a restaurant that was exceedingly popular, and a pier that extended past Otter Island. There, people would be packed shoulder to shoulder, watching boat races. There was also a boat repair shop in the large (6,000 square foot) building that now is being used mostly for storage. Where the pilings are still seen (about 100 yards out from the sea wall) there was a breakwater that protected the interior from the large waves that develop every once in a while. That breakwater allowed the owners to put in a full dock system, where many people apparently stored their boats. The remains of the breakwater are now below the surface, and reportedly those remains serve as habitat for bass, catfish and other desired fish species. </p>
        <p>It appears that sometime around 1994, Daniel T. Brennan obtained a permit to put 51 RV spaces on the property north of Lakeshore Boulevard. Whether the spaces south of the road were already in place or if they were installed later is uncertain. Correspondence from January 1999 indicates that a Sam Lamonica purchased the park around that date. Sometime between 1999 and 2004 the property was purchased by the Robinson Rancheria. It was sold to the present owner, Nice RV Park, LLC, in 2015.</p>
        <p>Because the RV spaces were put in decades ago (before the advent of slide-outs), the spaces are narrow by today's standards. This is especially true for the seven lakefront spaces, which presumably were built before the spaces on the north campus. Nonetheless, we are able to fit rigs of all sizes, and - even when those lakefront spaces are all full - guests seem to manage fine, adequately maintaining their privacy. It seems that everyone is willing to accept the close proximity to their neighbors in order to experience the magnificent views that are virtually always present for those right on the waterfront. </p>
     </div>
  </div>
  <div class="tab-pane fade" id="Recent">
     <div class="common-design Wlheading">
        <h3>RECENT/CURRENT RENOVATIONS</h3>
        <p>
          Much has been done to renovate the property since it was last purchased in 2015. The first work involved fixing and replacing the cracks in the concrete that were seen as hazardous. We then set about making major renovations to the building that houses the laundry, office, restrooms, and activities room. Those renovations are nearing completion. The building has been painted and most of the deteriorated soffits, etc., have been replaced. The bathrooms are now exquisite, with granite countertops, large mirrors, motion activated faucets and soap dispensers, tile flooring, waterless urinals, and private (completely enclosed) rooms housing our commodes. Numerous guests have told us that ours are the nicest bathrooms they have ever seen at a camping or RV park. The laundry and office are almost finished, with a new entrance from Lakeshore Boulevard now cut into the wall (so that guests and others no longer have to walk through the laundry room to check in, etc.). In front of the restrooms, the dumpster enclosure was demolished and a flood-proof handicapped bathroom has been constructed. Although the fixtures and interior decorations are still to be installed, that work should soon be completed as well.
        </p>
        <p>Tiled cement picnic tables have been constructed, and all seven lakefront pads should soon have their tables and benches in place. Extensive landscaping work has been performed (though much is still planned). We have an impressive driftwood fountain with water that cascades down from up in an adjacent tree and surrounded by flowers. The area outside the activities room has been fenced in to provide privacy for those who use that room as well as for tenters who stay in that second lakefront area. "The point" - where guests can fish or simply enjoy being within a 300+ degree view of water - has been remodeled with a stamped concrete walkway and additional landscaping.
          </p>
          <p>
            The large (6,000 square foot) building on the west side of the property that literally extends into the lake now has a 167-panel solar energy system installed, and an assortment of new structural supports. Planning has been begun to convert the space into the Nice Wellness Center and to house a unique luxury accommodation overlooking the lake with fireplace, steam shower, massage chair, hot tub and more. 
            </p>
     </div>
  </div>
  <div class="tab-pane fade" id="Future">
     <div class="common-design Wlheading">
        <h3>FUTURE PLANS</h3>
        <p>
          The immediate future will be filled with completion of the projects noted in the "Recent/Current Renovations" section. Additionally, a new seawall has to be constructed. Eventually, if we can become profitable, we plan to have an infinity pool, a hot tub, a pier out to a gazebo about 2/3 of the way to Otter Island, and restrooms with showers on the north campus. We also envision a park filled with lush landscaping. We have made significant strides towards that goal, but have a burning desire to have the park environment bask our guests in flowers, trees and all-round natural beauty to match the magnificent lake we have at our southern property line.
        </p>
     </div>
  </div>
</div>
<!--==============Overview Tabs =============-->