span.success_msg {
    color: green;
    font-size: 21px;
    padding: 15px 0;
    display: block;
    text-align: center;
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: 800;
}
.loginform label {
    width: 184px;
    margin-right: 10px;
    line-height: 20px;
    margin-top: 1px;
}
.loginform {
    width: 100%;
    max-width: 465px;
    margin: 0 auto;
}
button.btn_sub.btn.loginbtn {
    width: 71% !important;
    max-width: 100%;
    margin-bottom: 15px;
    margin-left: auto !important;
    display: block;
}
.ReqInput .form_required {
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    left: -12px;
    top: -22px;

}
.CondiDiv {
    display: none;
}
.CondiDiv label {
    display: block;
    width: 100% !important;
}
.form-group.regleft {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    /* margin: 0px auto; */
    margin-left: 134px;
}

.form-group.regleftrgt {
    display: inline-block;
    width: 100%;
    max-width: 207px;
}