<div class="tab-pane" id="logins">
    <div class="common-design Wlheading">
        <div class="CrtFrom">
          <form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm)">
             <h3>Login</h3>
             <span class="success_msg"></span>  
             <div class="loginform">
                 <div class="ReqInput">
                <div class="form-group d-flex">
                    <label>Username (Email Address) </label>
                   <input type="email" name="loginemail" formControlName="loginemail" placeholder="" required="" class="form-control"/>
                   </div>
                   <div *ngIf="submitted && loginForm.controls.loginemail.errors" class="form_required">
                        <div *ngIf="loginForm.controls.loginemail.errors.required">Please insert first name</div>
                        <div *ngIf="f.loginemail.errors.email">Invalid Email Address</div>
                    </div>
                   </div>
                   <div class="ReqInput">
                <div class="form-group d-flex">
                    <label>Password</label>
                   <input type="password" name="password" formControlName="password" placeholder="" required="" class="form-control"/>
                </div>
                
                <div *ngIf="submitted && loginForm.controls.password.errors" class="form_required">
                        <div *ngIf="loginForm.controls.password.errors.required">Please insert password</div>
                    </div>
                </div>
                <div class="CondiDiv form_required" *ngIf="!loginForm.controls.loginemail.errors && !loginForm.controls.password.errors">
                    <label>
                        That email address is not in our database. What would you like to do? 
                    </label>
                    <label>
                        (1) <a (click)="errorRedirect('another_email')">Try another email address</a>
                    </label>
                    <label>
                        (2) <a [routerLink]="['/registration/']">Create account</a>
                    </label>
                    <label>
                        (3) <a [routerLink]="['/contact/']">Contact Us</a>
                    </label>
                </div>
                <div class="form-group">
                     <button type="submit" class="btn_sub btn loginbtn">Login</button>
                </div>
                <div class="form-group text-left regleft">
                    <span><a [routerLink]="['/registration']">Create Account</a></span>
                </div> 
                <div class="form-group text-right regleftrgt">
                    <span><a [routerLink]="['/forgetpassword']">Forget Password</a></span>
                </div> 
             </div>       
          </form>
       </div>
    </div>       
 </div>
 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>