<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i>Change Color</h1>
        <p>Change color at front end</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
              <form [formGroup]="colorform" (ngSubmit)="colorSubmit(colorform)">
                  <h3>Color Change</h3>
                  <span class="success_msg"></span>  
                  <div class="loginform">
                      <div class="ReqInput">
                          <div class="form-group d-flex">
                            <label>Like all RV (1st tab 1st part of reservation) </label>
                            <input [(colorPicker)]="color1_1"  [(ngModel)]='color1_1' formControlName="color1_1" placeholder="" [style.background]="color1_1"/>
                          </div>
                       </div> 
                       <div class="ReqInput">
                          <div class="form-group d-flex">
                            <label>Like all RV (1st tab 2nd part of reservation)</label>
                            <input [(colorPicker)]="color1_2"  [(ngModel)]='color1_2' formControlName="color1_2" placeholder="" [style.background]="color1_2"/>
                          </div>
                       </div> 
                       <div class="form-group btn-container">
                          <button type="submit" class="btn_sub btn loginbtn">Save</button>
                        </div> 

                    </div>      
               </form>       

          </div> 
        </div>
      </div>
    </div>
  </main>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>            