<div class="updatenews bgmainColor">
        <div class="container-fluid">
           <div class="row">
              <div class="col-md-1 col-sm-2 col-12">
                 <div class="button-homeimg"><a href="javascript:void(0)" class="button-homeimg2"><img src="assets/images/Aurora-Logo.png"  alt="images"/></a></div>
              </div>
              <div class="col-md-11 col-sm-10 col-12">
                 <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:100px;overflow:hidden;visibility:hidden;">
                    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:100px;overflow:hidden;">
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_World_Renowned_Fishing.gif" alt="images"/> World-Renowned Fishing</h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_Canoes_and_Kayaks.gif" alt="images"/> Free Use of our Canoes, Kayaks and Paddleboats</h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_Fire_pits.gif" alt="images"/> Free Fire Pits</h5>
                          </div>
                       </div> 
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_Incredible Night_Skies.gif" alt="images"/> Incredible Night Skies         </h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/5.gif" alt="images"/> World-Renowned Fishing       </h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_AbundantBird_Life.gif" alt="images"/>Abundant bird life </h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_Friendliest_Staff.gif" alt="images"/> Friendliest Staff</h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/roomsa.png" alt="images"/> Spacious Activities Room</h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5> <img src="assets/images/Large_BoatRamp.gif" alt="images"/> Boat Ramp</h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_County_Park.gif" alt="images"/> Delightful County Park next door </h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/LargeBeach_Area.gif" alt="images"/>Small, Private Beach Area      </h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_Lakeside_Theater.gif" alt="images"/> Lakeside Theater </h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_Barbecues_Grills.gif" alt="images"/> Barbecue Areas</h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/Large_Activities_Room_Board_Game.gif" alt="images"/> New County Dog Park Less than Half a Mile Away</h5>
                          </div>
                       </div>
                       <div>
                          <div class="upd-cnts1">
                             <h5><img src="assets/images/10.gif" alt="images"/> Newly Renovated Restrooms</h5>
                          </div>
                       </div>
                       <div>
                            <div class="upd-cnts1">
                                <h5>
                                    <img src="assets/images/Medium_Magnificent_Lakeside_Location.gif" alt="images"/> Magnificent Lakeside Location
                                </h5>
                            </div>
                        </div>
                    </div>
                    
                        <div id="arrow-left" data-u="arrowleft" style="position:absolute; width:50px;height:50px;top:0px;left:0px !important;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                            <img src="assets/images/leftbigarrow.png" alt=""/>
                        </div>
                        <div id="arrow-right" data-u="arrowright" style="position:absolute;width:50px;height:50px;top:0px;right:0px !important;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                            <img src="assets/images/rightbigarrow.png" alt=""/>
                        </div>
                    
                    <!-- 
                    <div data-u="arrowleft" class="jassorright" style="width:50px;height:50px;top:0px;left:30px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                        <img src="assets/images/rightbigarrow.png" alt=""/>
                     </div>
                     <div data-u="arrowright" class="jassorleft" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                        <img src="assets/images/leftbigarrow.png" alt=""/>
                     </div>
                     -->
                 </div>
              </div>
           </div>
        </div>
     </div>
    <section  class="bgmainColor mainsection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <app-header></app-header>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>


