/*==========USER DETAILS=====*/
.EntryDetail {
    /* background: #fff; */
    /* padding: 0px 19px; */
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #e6e5e5;
    padding: 3px 0px;
    border-left: 4px solid #009688;
    }
 .EntryDetail p {
    font-size: 15px;
    padding-left: 11px;
    margin: 0px 0px 5px 0px;
 }
 .EntryDetail label {
    /* display: inline-block; */
    font-weight: bold;
    /* padding-right: 25px; */
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    position: relative;
    padding-left: 11px;
    margin-bottom: 2px;
 }
 .EntryDetail label i {
    position: absolute;
    left: 0;
     top: 4px;
    color: #222d32;
    }
    .EntryDetail h1 {
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-left: 11px;
    margin-bottom: 3px;
 }
 .UserDSection {
    background: #fff;
    padding: 30px 20px;
 }
 
 /*==========USER DETAILS=====*/