<main class="app-content">
  <div class="app-title">
      <div>
        <h1><i class="fa fa-th-list"></i>User Detail</h1>
      </div>
  </div>
<!-- =======USER DETAIL START========= -->
<div class="UserDSection">
  <div class="container">
    <div class="EntryDMain">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>First Name:</label>
          <p>{{userDetail?.fname == "null" ? "NA" : userDetail?.fname}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Last Name:</label>
          <p>{{userDetail?.lname == "null" ? "NA" : userDetail?.lname}}</p>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Address:</label>
          <p>{{userDetail?.saddress == "null" ? "NA" : userDetail?.saddress}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>City:</label>
          <p>{{userDetail?.city == "null" ? "NA" : userDetail?.city}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>State:</label>
          <p>{{userDetail?.state == "" ? "NA" : userDetail?.state}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Zip Code:</label>
          <p>{{userDetail?.zipcode == "null" ? "NA" : userDetail?.zipcode}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Email #1:</label>
          <p>{{userDetail?.email == "null" ? "NA" : userDetail?.email}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Email #2:</label>
          <p>{{userDetail?.email1 == "null" ? "NA" : userDetail?.email1 }}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Phone #1:</label>
          <p>{{userDetail?.phone == "null" ? "NA" : userDetail?.phone }}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Phone #2:</label>
          <p>{{userDetail?.phone2 == "null" ? "NA" : userDetail?.phone2 }}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Driver's License:</label>
          <p>{{userDetail?.drivingLic == "null" ? "NA" : userDetail?.drivingLic }}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>State:</label>
          <p>{{userDetail?.licen_state == "" ? "NA" : userDetail?.licen_state}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Number:</label>
          <p>{{userDetail?.d_l_number == "null" ? "NA" : userDetail?.d_l_number}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <label><i class="fa fa-user" aria-hidden="true"></i>Birthday:</label>
          <p>{{userDetail?.birthdate == "null" ? "NA" : userDetail?.birthdate}}</p>
          </div>
        </div>
</div>
<!-- =======ROW END===== -->
<div class="row">
        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <h1>Returning Guest: 1</h1>
          <label><i class="fa fa-user" aria-hidden="true"></i>Age > 12</label>
          <p>{{userDetail?.kids == "null" ? "NA" : userDetail?.kids}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <h1>Vehicles:</h1>
          <label><i class="fa fa-user" aria-hidden="true"></i></label>
          <p>{{userDetail?.pickup_auto == "null" ? "NA" : userDetail?.pickup_auto}}</p>
          </div>
        </div>


        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <h1>Main license plate number :</h1>
          <label><i class="fa fa-user" aria-hidden="true"></i></label>
          <p>{{userDetail?.licence_plate_number == "null" ? "NA" : userDetail?.licence_plate_number}}</p>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
        <div class="EntryDetail">
          <h1>Length of longest vehicle (in feet) :</h1>
          <label><i class="fa fa-user" aria-hidden="true"></i></label>
          <p>{{userDetail?.long_vehicle_length == "null" ? "NA" : userDetail?.long_vehicle_length}} </p>
          </div>
        </div>
        
        <!--
          <div class="col-md-6 col-sm-6 col-12">
            <div class="EntryDetail">
              <h1>How did you hear about us?</h1>
              <p>lorem dummy text</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-12">
            <div class="EntryDetail">
              <h1>What is your favorite RV Park in the world?</h1>
              <p>lorem dummy text</p>
            </div>
          </div>
          -->

      </div>
    </div>
  </div>
</div>
<!-- =======USER DETAIL END========= -->
</main>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>            
