.radiodesign {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
}
ul.particularins {
    height: 168px;
    overflow-x: hidden;
    overflow-y: auto;
}
h5.mb20 {
    text-align: center;
}
#mnss {
    display: none;
}
.first_sec h5 {
    font-size: 26px;
    width: 100%;
    margin: 0 auto 28px auto;
    /* font-family: FontleroyBrownNF; */
    letter-spacing: 1px;
    color: #444444;
    font-weight: normal;
    text-shadow: 1px 2px 0px #0088cc;
    line-height: 58px;
}
.first_sec .formcheckboxs label span:before, .modals_body .formcheckboxs label span:before {
    border-radius: 50%;
    background: #fff;
}
img#img_maping {
    width: 100%;
    max-width: 850px !important;
}
.modal-footer.pd0-both {
    padding-left: 0;
    margin-top: 19px !important;
    padding-top: 24px;
    padding-bottom: 0;
}
.btn-outline-dark {
    width: 100%;
    font-size: 17px;
    background: #fff;
    border-color: #fff;
}
.btn-outline-dark:hover{
    color:#222;
}
h4#modal-basic-title {
    color: #fff;
}

.input-groupnew {
    width: 850px;
}
.col-md-12.form-group.mobile-autowidth {
    overflow-x: auto;
}
.modals_body {
    background: #d3ad7e;
}
.yellow-bg {
    background: rgb(253, 254, 3);
    padding: 20px;
    border: 1px solid #222;
}
.yellow-bg h5 span {
    text-shadow: none;
    line-height: 36px;
}
.yellow-bg h5 {
    margin: 0px !important;
}
.green-bg {
    background: rgb(155, 204, 1);
    padding: 0 20px;
    margin-top: 25px;
    border: 1px solid #222;
    margin-bottom: 25px;
}
.green-bg h5 {
    text-shadow: none !important;
    color: #fff !important;
    margin-bottom: 0;
    padding-top: 5px;
}
.green-bg label {
    font-size: 16px;
    color: #fff;
}
.pd0lefts {
    padding-left: 8px;
}
form#ngForm {
    padding-bottom: 20px;
}
.site-desc{
    border: 5px solid;
    padding: 15px 10px 10px 10px;
}
.header-mystop {
    display: flex;
    text-align: center;
    width: 100%;
}
.header-mystop h1 {
    font-size: 19px;
    flex: 0 0 50%;
    max-width: 50%;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.site-desc ul li a span {
    display: inline-block;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.site-desc ul {
    margin: 0;
    padding: 0;
}
.site-desc ul li{
    border: 2px solid #000;
}
.hover-shows::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 17px;
    position: absolute;
    right: -17px;
    top: 0;
}
.site-desc ul li:first-child .hover-shows::after{
    border-color: transparent transparent transparent #753806;
}
.site-desc ul li:nth-child(2) .hover-shows::after{
    border-color: transparent transparent transparent#8a4eb7;
}
.site-desc ul li:nth-child(3) .hover-shows::after{
    border-color: transparent transparent transparent #00a1db;
}
.site-desc ul li:nth-child(4) .hover-shows::after{
    border-color: transparent transparent transparent #d60000;
}
.site-desc ul li:nth-child(5) .hover-shows::after{
    border-color: transparent transparent transparent #e4e400;
}
.site-desc ul li:nth-child(6) .hover-shows::after{
    border-color: transparent transparent transparent #d32a9a;
}
.site-desc ul li:nth-child(7) .hover-shows::after{
    border-color: transparent transparent transparent #d18b51;
}
.site-desc ul li:nth-child(8) .hover-shows::after{
    border-color: transparent transparent transparent #e0c4ac;
}
.site-desc ul li:first-child {
    background: #974806;
}
.site-desc ul li:nth-child(2) {
    background: #a66bd3;
}
.site-desc ul li:nth-child(3) {
    background: #00b0f0;
}
.site-desc ul li:nth-child(4) {
    background: #ff0000;
}
.site-desc ul li:nth-child(5) {
    background: #ffff00;
}
.site-desc ul li:nth-child(6) {
    background: #f53db8;
}
.site-desc ul li:nth-child(7) {
    background: #fabf8f;
}
.site-desc ul li:nth-child(8) {
    background: #fde9d9;
}
.site-desc ul li a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.site-desc ul li {
    margin-bottom: 8px;
    position: relative;
}
.hover-shows {
    position: absolute;
    left: -105%;
    background: inherit;
    width: 102%;
    z-index: 9;
    font-size: 16px;
    padding: 17px;
    color: #000;
    top: 0;
    display: none;
}

.site-desc ul li:hover .hover-shows {
    display:block;
}
input.clearSelecttion {
    margin-top: 38px;
    display: inline-block;
}
.title-main {
    background: rgb(252, 229, 205) !important;
}
.dt-dsgn {
    padding: 0px 48px;
} 

input#endsDat {
    width: 90%;
    margin-top: 9px;
}
.dtardps {
    display: block;
    text-align: center;
}
.frm {
    display: inline-block;
    width: 100%;
    text-align: justify;
}
p.instructions {
    padding: 22px;
    text-align: justify;
    border: 2px solid #653d0b;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 26px;
}
.col-md-6.custom-img {
    padding: 0 15px;
    font-size: 18px;
    text-align: center;
    /* border-radius: 5px; */
}
.col-md-6.custom-img img {
    width: 100%;
    padding: 0 15px;
    height: 100%;
    object-fit: cover;
}
.frm.rdio {
    padding: 35px 0;
}

.modals_body {
    padding: 12px;
}

.modal-header {
    padding: 4px;
}