<div class="tab-pane" id="Reservationaccount">
  <div class="common-design Wlheading">
      <!-- <h3>Reservation</h3> -->
     <div class="CrtFrom">
        <form id="ngForm" [formGroup]="reservationForm" (ngSubmit)="reservationSubmit(reservationForm) ">
        <div class="parent-account">

            <!-- <label>
                <input type="radio" value="Male" formControlName="gender">
                  <span>male</span>
              </label>
              <label>
                <input type="radio" value="Female" formControlName="gender">
                  <span>female</span>
              </label> 
            -->

            <div class="first_sec pactive mainsectionC">
              <div [style.background-color]="colorBackground_tab1_sec1"  class="yellow-bg">
                <h5 class="mb20"><span>Like all RV Parks, we provide sites on which guests place their 
                  recreational vehicles. Additionally, we rent out our own units 
                  ("Tiny Homes" and travel trailers) and we offer tent sites as well.</span> </h5>
                  </div>
                  <div [style.background-color]="colorBackground_tab1_sec2" class="green-bg">
                        <h5 class="mb20"> <b>What would you like to reserve? </b></h5>
                <div class="form-group col-md-12 col-sm-12 col-12 pd0lefts">
                   <!-- first phase field  -->
                   <div class="row">
                      <div class="form-group col-md-12 col-sm-12 col-12 radiodesign">  
                      <div class="form-check formcheckboxs">
                          <label class="form-check-label">
                            <input type="radio" class="reser form-check-input"  (change)="reserOption_frst_scr($event)" formControlName="reserOption_frst_scr" value='a' >An RV site for my recreational vehicle
                            <span></span>
                          </label>
                       </div> 

                       <div class="form-check formcheckboxs">
                          <label class="form-check-label">
                            <input type="radio" class="reser form-check-input" (change)="reserOption_frst_scr($event)" formControlName="reserOption_frst_scr" value='b'>One of the Park's units (i.e., a "Tiny Home" or Travel Trailer)
                            <span></span>
                           </label>
                        </div>
                         
                        <div class="form-check formcheckboxs">
                            <label class="form-check-label">
                              <input type="radio" class="reser form-check-input" (change)="reserOption_frst_scr($event)" formControlName="reserOption_frst_scr" value='c'>A Tent Site
                              <span></span> 
                            </label>
                        </div>

                      </div>
                  </div>  
                </div> 
              </div> 

              <div class="text-right">
                <!-- first phase field end -->
                <input type="hidden" value="" id="checkdiscountValidation">
                <button type="button" screenNo="1" class="btn_sub btn nextslides">Next</button>
              </div>    
                
              
            </div>    
           <div class="mainsectionC">
              <h5 class="text-center mb20">We have <strong>great</strong> discounts<strong>!</strong>
                  <span>Let's see what we can find for you.</span>
              </h5>
              <div class="row justify-content-center">
                 <div class="form-group col-md-3 col-sm-6 col-12 radiodesign">  
                 <div class="form-check formcheckboxs">
                   <label class="form-check-label">
                     <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" formControlName="reserOption" value='AARP' name="AARP">AARP Member
                     <span></span>
                   </label>
                 </div> 
                  <div class="form-check formcheckboxs"> 
                   <label class="form-check-label">
                     <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" formControlName="reserOption" value='AAA' name="AAA">AAA Member
                     <span></span>
                   </label>
                 </div>
                 <!--  extra -->
                 <div class="form-check formcheckboxs">
                  <label class="form-check-label">
                    <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" formControlName="reserOption" value='Good sam member' name="good_sam_member">Good Sam member
                    <span></span>
                  </label>
                  </div>
                  
                  <div class="form-check formcheckboxs">
                    <label class="form-check-label">
                      <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" formControlName="reserOption" value='Returning Guest member' name="new_guest_member">New Guest 
                      <span></span>
                    </label>
                  </div>
                 
                 <!-- extra end  -->
                 <div class="form-check formcheckboxs">
                   <label class="form-check-label">
                     <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" formControlName="reserOption" value="sam_club" name="sam_club">Sam's Club Member
                     <span></span>
                   </label>
                 </div>
              </div>

              <div class="col-md-3 col-sm-6 radiodesign">
                 <div class="form-check formcheckboxs">
                   <label class="form-check-label">
                     <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" value="pass_america" formControlName="reserOption">Passport America Member
                     <span></span>
                   </label>
                 </div>

                 <div class="form-check formcheckboxs">
                   <label class="form-check-label">
                     <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" value="hapy_camper" formControlName="reserOption">Happy Camper Member
                     <span></span>
                   </label>
                 </div>
                 <div class="form-check formcheckboxs">
                  <label class="form-check-label">
                    <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" formControlName="reserOption" value='Returning Guest member' name="returning_guest_member">Returning Guest
                    <span></span>
                  </label>
                </div>
                
                 <div class="form-check formcheckboxs">
                   <label class="form-check-label">
                     <input type="checkbox" class="reser form-check-input" (change)="reserOption($event)" value="national_park" formControlName="reserOption">National Park Service Senior Pass holder
                     <span></span>
                   </label>
                 </div>
                 <div class="form-check formcheckboxs otherchechL">
                  <label class="form-check-label lastothersc">
                    <input type="checkbox" [(ngModel)]="options" class="reser form-check-input" [checked]="options"  [(ngModel)]="showhidepregnant" (change)="reserOption($event)" formControlName="reserOption" value="others" id="other" name="">Other:
                    <span></span>
                  </label>
                  <div class="other-showchilds" *ngIf="showhideothers">
                      <input type="text" placeholder="Other" value="" id="otherInput" formControlName="reserOptionss" class="form-control">
                   </div>
                </div>
               </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-6 col-sm-6 col-12 text-right">
                    <button type="button" screen="percentageFirstview" class="btn_sub btn prevslides" style="float:left;">Previous</button>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-12 text-right">
                    <button type="button" screenNo="2" class="btn_sub btn nextslides">Next</button>
                  </div>
              </div>
          </div>
             

           <div class="mainsectionC">
              <div class="awesome-text">
                 <h1>AWESOME!!!  </h1>
                 <h2>YOU QUALIFY FOR A <span>{{percentageValue}}%</span> DISCOUNT!</h2> 
              </div>
              <div class="row">
                 <div class="form-group col-md-12 col-sm-12 col-12 text-right">
                   <button type="button" screen="percentageviews" class="btn_sub btn prevslides" style="float:left;">Previous</button>
                   <button type="button" screenNo="3" class="btn_sub btn nextslides">Next</button>
                 </div>
              </div>   
           </div>  
           <div class="mainsectionC date_section">
             <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-12  ">
                  <div class='dt-dsgn'>
                    <div class="input-group dtardps">
                    <label class="dtardp"><b> DESIRED ARRIVAL DATE</b></label>
                    <input placeholder="{{startDatss}}" required="" value="" id="strtDat" type="text" inline="true" minDate="today" formControlName="startdate" (change)="getdeparturerMin($event)"  name="startdate" mwlFlatpickr [(ngModel)]="startdate" [altInput]="true" [convertModelValue]="true">
                    <span class="input-group-append" role="right-icon"></span>
                    <div *ngIf=" reservationForm.controls.startdate.errors" style="display:none" class="form_required">
                      <div *ngIf="reservationForm.controls.startdate.errors.required">Please insert Arrival Date</div> 
                    </div> 
                    </div>
                  </div>      
                </div>  
                <div class="dprtr form-group col-md-6 col-sm-6 col-12">
                    <div class='dt-dsgn'>
                      <div [ngClass]="datDefault == false ? 'disaledclas' : 'acv'"  class="input-group dtardps">
                      <label class="dtardp"><b>DESIRED DEPARTURE DATE</b></label>
                      <!--  <input placeholder="Departure Date" required="" id="endsDat" type="text"  inline="true" minDate="{{maximumdats}}" formControlName="endate" (change)="departDts($event)" name="endate" mwlFlatpickr [(ngModel)]="endate" [altInput]="true" [convertModelValue]="true"> -->
                      <input placeholder="Departure Date" required="" id="endsDat" type="text"  inline="true" formControlName="endate" (change)="departDts($event)" name="endate" mwlFlatpickr [(ngModel)]="endate" >
                      <span class="input-group-append" role="right-icon"></span>
                      </div>
                      <div *ngIf=" reservationForm.controls.endate.errors" style="display:none" class="form_required">
                        <div *ngIf="reservationForm.controls.endate.errors.required">Please insert End Date</div>
                      </div>
                    </div>  
                </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12 col-sm-12 col-12 text-right">
                    <button type="button" screen="dateviews" class="btn_sub btn prevslides" style="float:left;">Previous</button>
                    <button type="button" screenNo="4" class="btn_sub btn nextslides">Next</button>
                  </div>
               </div> 
            </div> 
           <div class="mainsectionC lastresivstion">
              <div class="row">
               <div class="form-group col-md-4 col-sm-4 col-12">
                <div class="input-group">
                 <label><b>Desired space type:</b></label>
                  
                 <div class="selectulli">
                    <input type="text" name="" class="parkvalues" readonly="">
                    <div class="putselectval">
                    </div>
                     <b class="slideupDown">Desired space type select...</b> 
                    
                   <div style="visibility: hidden"  id="mnss">
                    <ul  class="">
                      <li values="Rental Units" class="option"><strong>Rental Units</strong>
                       <ul  id="particularinsId" class="particularins">
                        <li *ngFor="let rental of rentalunit; let i = index;">
                            <div *ngIf="(allBookedSites?.length > 0) && (allBookedSites.includes(rental.site_no)) then booked4 else notbooked4"></div>
                                <ng-template #notbooked4> 
                                    <label>
                                        <input id="site_{{rental.site_no}}" type="checkbox"[(ngModel)]="rental.selected" (change)="rentalUnit($event)" formControlName="rentalunit" value={{rental.site_no}} name="rentalunit"><span>{{rental.site_no}}</span> 
                                    </label>
                                </ng-template>
                                <ng-template #booked4>
                                    ({{rental.site_no}}) Booked
                                </ng-template>   
                          </li>
                      </ul> 
                      </li>
                      <li values="Lakefront" class="option"><strong>Lakefront</strong>
                       <ul class="particularins">
                          <li *ngFor="let lakefronts of lakefront; let i = index;">
                              <div *ngIf="(allBookedSites?.length > 0) && (allBookedSites.includes(lakefronts.site_no)) then booked3 else notbooked3"></div>
                                <ng-template #notbooked3>
                                    <label>
                                        <input id="site_{{lakefronts.site_no}}" type="checkbox" class="" (change)="lakeFront($event)" formControlName="lakefront" value={{lakefronts.site_no}} name="lakefront"><span>{{lakefronts.site_no}}</span> 
                                    </label>
                                </ng-template>
                                <ng-template #booked3>
                                    ({{lakefronts.site_no}}) Booked
                                </ng-template>    

                           </li>
                       </ul>
                      </li>
                      <li values="(Semi-) Pull-thru" class="option"><strong>(Semi-) Pull-thru</strong>
                        <ul class="particularins">
                            <li *ngFor="let semi_pullthrus of semi_pullthru; let i = index;">
                                <div *ngIf="(allBookedSites?.length > 0) && (allBookedSites.includes(semi_pullthrus.site_no)) then booked2 else notbooked2"></div>
                                <ng-template #notbooked2>
                                    <label>
                                        <input id="site_{{semi_pullthrus.site_no}}" type="checkbox" class="" (change)="semi_pull_thru($event)" formControlName="semi_pullthru" value={{semi_pullthrus.site_no}} name="semi_pullthru"><span>{{semi_pullthrus.site_no}}</span> 
                                    </label>
                                </ng-template>
                                <ng-template #booked2>
                                    ({{semi_pullthrus.site_no}}) Booked
                                </ng-template>    
                            </li>
                         </ul>
                      </li>
                      <li values="Backin" class="option"><strong>Back in</strong>
                        <ul class="particularins">
                            <li *ngFor="let backins of backineww; let i = index;">
                                <div *ngIf="(allBookedSites?.length > 0) && (allBookedSites.includes(backins.site_no)) then booked1 else notbooked1"></div>
                                  <ng-template #notbooked1>
                                      <label>
                                          <input id="site_{{backins.site_no}}" type="checkbox" (change)="backinsFun($event)" class="" formControlName="backin" value={{backins.site_no}} name="backin"><span>{{backins.site_no}}</span> 
                                      </label>
                                  </ng-template>
                                  <ng-template #booked1>
                                      ({{backins.site_no}}) Booked
                                  </ng-template>  
                              </li>
                         </ul>
                      </li>
                      <li values="standard_pull_thru" class="option"><strong>Standard pull thru</strong>
                        <ul class="particularins">
                            <li *ngFor="let standard_pullthrus of standard_pullthru; let i = index;">
                                <div *ngIf="(allBookedSites?.length > 0) && (allBookedSites.includes(standard_pullthrus.site_no)) then booked else notbooked"></div>
                                  <ng-template #notbooked>
                                      <label>
                                          <input id="site_{{standard_pullthrus.site_no}}" type="checkbox" [checked]="(allBookedSites?.length > 0) && (allBookedSites.includes(standard_pullthrus.site_no))" class="" (change)="standard_pull_thru($event)" formControlName="standard_pullthru" value={{standard_pullthrus.site_no}} name="standard_pullthru"><span>{{standard_pullthrus.site_no}}</span> 
                                      </label>
                                  </ng-template>
                                  <ng-template #booked>
                                      ({{standard_pullthrus.site_no}}) Booked
                                  </ng-template>
                            </li>
                         </ul>
                      </li>
                      <li values="Extra-Long Pull-thru" class="option"><strong>Extra-Long Pull-thru</strong>
                        <ul class="particularins">
                            <li *ngFor="let extra_pullthrus of extra_pullthru; let i = index;">
                                <div *ngIf="(allBookedSites?.length > 0) && (allBookedSites.includes(extra_pullthrus.site_no)) then booked6 else notbooked6"></div>
                                  <ng-template #notbooked6>
                                      <label>
                                          <input id="site_{{extra_pullthrus.site_no}}" type="checkbox" class="" (change)="ext_long_pull_thru($event)" formControlName="extra_pullthru" value={{extra_pullthrus.site_no}} name="extra_pullthru"><span>{{extra_pullthrus.site_no}}</span> 
                                      </label>
                                  </ng-template>
                                  <ng-template #booked6>
                                      ({{extra_pullthrus.site_no}}) Booked
                                  </ng-template>    
                              </li>
                         </ul>
                      </li>
                      <li values="Tent Sites" class="option"><strong>Tent Sites</strong>
                        <ul class="particularins">
                            <li *ngFor="let tentss of tentsneww; let i = index;">
                                <div *ngIf="(allBookedSites?.length > 0) && (allBookedSites.includes(tentss.site_no)) then booked6 else notbooked6"></div>
                                  <ng-template #notbooked6>
                                      <label>
                                          <input id="site_{{tentss.site_no}}" type="checkbox" (change)="tentssFun($event)" class="" formControlName="tents" value={{tentss.site_no}} name="tents"><span>{{tentss.site_no}}</span> 
                                      </label>
                                  </ng-template>
                                  <ng-template #booked6>
                                      ({{tentss.site_no}}) Booked 
                                  </ng-template> 
                              </li>
                         </ul>
                      </li>
                    </ul>
                  </div>
                 </div>
                </div>
              </div> 

              <div class="form-group col-md-4 col-sm-4 col-12">
                <input type="button" class="clearSelecttion" value="Clear All selection" name="clearSite" (click)="cleanSite()">
                </div>
              <!-- 
                <img id="1" usemap="#image-map-3" src="https://www.travismclarke.com/imagemap/image-map-all.png">
                <map name="image-map-3">
                    <area shape="poly" alt="blue" title="blue" onclick="selectRegion(this, 'blue')" coords="28,27,283,27,324,101,285,175,27,175">
                    <area shape="poly" alt="yellow" title="yellow" onclick="selectRegion(this, 'yellow')" coords="286,27,543,27,583,101,542,176,286,175,324,101">
                    <area shape="poly" alt="pink" title="pink" onclick="selectRegion(this, 'pink')" coords="545,28,801,27,840,100,801,175,544,175,582,101">
                    <area shape="poly" alt="orange" title="orange" onclick="selectRegion(this, 'orange')" coords="802,27,1096,27,1096,174,802,174,838,101">
                </map> 
              -->


                <div class="row">
                  <div class="col-md-7">
                    <div class="col-md-12 form-group mobile-autowidth"> 
                        <div class="input-groupnew">
                              <img src="assets/images/image.png" class="mw-100" id="img_maping" alt="Planets" usemap="#image-map-1"/>
                              <map name="image-map-1">
                                <area class="abc" alt="1" title="1" (click)="open(content,'1')" href="javascript:void(0)" coords="265,563,277,601" shape="rect">
                                <area alt="2" title="2" (click)="open(content,'2')" coords="284,560,299,601" shape="rect">
                                <area alt="3" title="3" (click)="open(content,'3')" coords="307,562,320,600" shape="rect">
                                <area alt="4" title="4" (click)="open(content,'4')" coords="328,562,344,604" shape="rect">
                                <area alt="5" title="5" (click)="open(content,'5')" coords="351,563,368,603" shape="rect">
                                <area alt="6" title="6" (click)="open(content,'6')" href="javascript:void(0)" coords="375,561,390,603" shape="rect">
                                <area alt="7" title="7" (click)="open(content,'7')" href="javascript:void(0)" coords="394,560,410,602" shape="rect">
                                <area alt="8" title="8" (click)="open(content,'8')" href="javascript:void(0)" coords="296,484,318,521" shape="rect">
                                <area alt="9" title="9" (click)="open(content,'9')" href="javascript:void(0)" coords="321,479,341,514" shape="rect">
                                <area alt="10" title="10" (click)="open(content,'10')" href="javascript:void(0)" coords="346,471,366,512" shape="rect">
                                <area alt="11" title="11" (click)="open(content,'11')" href="javascript:void(0)" coords="367,471,388,504" shape="rect">
                                <area alt="12" title="12" (click)="open(content,'12')" href="javascript:void(0)" coords="389,464,413,500" shape="rect">
                                <area alt="13" title="13" (click)="open(content,'13')" href="javascript:void(0)" coords="122,352,164,378" shape="rect">
                                <area alt="14" title="14" (click)="open(content,'14')" href="javascript:void(0)" coords="126,314,166,335,156,347,119,329" shape="poly">
                                <area alt="15" title="15" (click)="open(content,'15')" href="javascript:void(0)" coords="127,283,119,295,155,316,163,301" shape="poly">
                                <area alt="16" title="16" (click)="open(content,'16')" href="javascript:void(0)" coords="126,249,120,263,157,282,162,268" shape="poly">
                                <area alt="17" title="17" (click)="open(content,'17')" href="javascript:void(0)" coords="124,212,117,225,155,247,160,230" shape="poly">
                                <area alt="18" title="18" (click)="open(content,'18')" href="javascript:void(0)" coords="131,180,124,193,159,210,166,197" shape="poly">
                                <area alt="19" title="19" (click)="open(content,'19')" href="javascript:void(0)" coords="135,149,140,134,177,156,171,169" shape="poly">
                                <area alt="20" title="20" (click)="open(content,'20')" href="javascript:void(0)" coords="173,112,182,151,197,147,187,108" shape="poly">
                                <area alt="21" title="21" (click)="open(content,'21')" href="javascript:void(0)" coords="219,106,219,145,233,147,231,106" shape="poly">
                                <area alt="22" title="22" (click)="open(content,'22')" href="javascript:void(0)" coords="250,109,251,147,265,149,268,107" shape="poly">
                                <area alt="23" title="23" (click)="open(content,'23')" href="javascript:void(0)" coords="283,111,298,111,300,149,284,152" shape="poly">
                                <area alt="24" title="24" (click)="open(content,'24')" href="javascript:void(0)" coords="366,148,368,164,422,160,422,145" shape="poly">
                                <area alt="25" title="25" (click)="open(content,'25')" href="javascript:void(0)" coords="456,96,477,134,492,128,469,91" shape="poly">
                                <area alt="26" title="26" (click)="open(content,'26')" href="javascript:void(0)" coords="491,97,510,126,524,124,502,87" shape="poly">
                                <area alt="27" title="27" (click)="open(content,'27')" href="javascript:void(0)" coords="524,94,546,125,558,120,536,88" shape="poly">
                                <area alt="28" title="28" (click)="open(content,'28')" href="javascript:void(0)" coords="555,93,575,126,591,118,566,84" shape="poly">
                                <area alt="29" title="29" (click)="open(content,'29')" href="javascript:void(0)" coords="592,89,612,121,627,116,605,82" shape="poly">
                                <area alt="30" title="30" (click)="open(content,'30')" href="javascript:void(0)" coords="656,103,663,116,694,90,685,78" shape="poly">
                                <area alt="31" title="31" (click)="open(content,'31')" href="javascript:void(0)" coords="663,140,669,149,701,128,692,114" shape="poly">
                                <area alt="32" title="32" (click)="open(content,'32')" href="javascript:void(0)" coords="663,167,673,181,707,155,697,146" shape="poly">
                                <area alt="33" title="33" (click)="open(content,'33')" href="javascript:void(0)" coords="669,206,682,216,715,189,705,181" shape="poly">
                                <area alt="34" title="34" (click)="open(content,'34')" href="javascript:void(0)" coords="588,248,584,288,602,293,603,250" shape="poly">
                                <area alt="35" title="35" (click)="open(content,'35')" href="javascript:void(0)" coords="559,261,556,301,572,301,575,263" shape="poly">
                                <area alt="36" title="36" (click)="open(content,'36')" href="javascript:void(0)" coords="528,276,524,315,537,316,542,280" shape="poly">
                                <area alt="37" title="37" (click)="open(content,'37')" href="javascript:void(0)" coords="461,303,450,340,465,345,472,306" shape="poly">
                                <area alt="38" title="38" (click)="open(content,'38')" href="javascript:void(0)" coords="425,307,417,344,430,346,441,309" shape="poly">
                                <area alt="39" title="39" (click)="open(content,'39')" href="javascript:void(0)" coords="394,313,385,353,400,358,406,318" shape="poly">
                                <area alt="40" title="40" (click)="open(content,'40')" href="javascript:void(0)" coords="360,324,350,365,364,370,372,329" shape="poly">
                                <area alt="41" title="41" (click)="open(content,'41')" href="javascript:void(0)" coords="331,333,322,372,336,375,343,337" shape="poly">
                                <area alt="42" title="42" (click)="open(content,'42')" href="javascript:void(0)" coords="293,344,286,382,299,386,309,347" shape="poly">
                                <area alt="43" title="43" (click)="open(content,'43')" href="javascript:void(0)" coords="261,345,251,383,267,387,277,350" shape="poly">
                                <area alt="44" title="44" (click)="open(content,'44')" href="javascript:void(0)" coords="224,356,215,392,233,398,243,361" shape="poly">
                                <area alt="45" title="45" (click)="open(content,'45')" href="javascript:void(0)" coords="197,308,202,318,240,300,230,287" shape="poly">
                                <area alt="46" title="46" (click)="open(content,'46')" href="javascript:void(0)" coords="195,270,201,282,236,267,231,250" shape="poly">
                                <area alt="47" title="47" (click)="open(content,'47')" href="javascript:void(0)" coords="195,241,203,250,237,235,230,221" shape="poly">
                                <area alt="48" title="48" (click)="open(content,'48')" href="javascript:void(0)" coords="197,205,202,217,238,199,232,185" shape="poly">
                                <area alt="49" title="49" (click)="open(content,'49')" href="javascript:void(0)" coords="285,177,276,190,312,210,320,198" shape="poly">
                                <area alt="50" title="50" (click)="open(content,'50')" href="javascript:void(0)" coords="283,208,275,221,310,240,314,226,313,225" shape="poly">
                                <area alt="51" title="51" (click)="open(content,'51')" href="javascript:void(0)" coords="279,239,270,253,308,271,313,256" shape="poly">
                                <area alt="52" title="52" (click)="open(content,'52')" href="javascript:void(0)" coords="282,274,274,287,312,304,318,290" shape="poly">
                                <area alt="53" title="53" (click)="open(content,'53')" href="javascript:void(0)" coords="355,236,365,228,415,277,406,290" shape="poly">
                                <area alt="54" title="54" (click)="open(content,'54')" href="javascript:void(0)" coords="361,199,438,275,448,266,369,186" shape="poly">
                                <area alt="55" title="55" (click)="open(content,'55')" href="javascript:void(0)" coords="393,189,471,264,481,257,404,181" shape="poly">
                                <area alt="56" title="56" (click)="open(content,'56')" href="javascript:void(0)" coords="427,186,496,254,508,245,438,175" shape="poly">
                                <area alt="57" title="57" (click)="open(content,'57')" href="javascript:void(0)" coords="457,183,524,246,536,235,469,174" shape="poly">
                                <area alt="58" title="58" (click)="open(content,'58')" href="javascript:void(0)" coords="489,176,548,234,557,225,501,169" shape="poly">
                                <area alt="59" title="59" (click)="open(content,'59')" href="javascript:void(0)" coords="520,171,570,221,580,212,529,162" shape="poly">
                                <area alt="60" title="60" (click)="open(content,'60')" href="javascript:void(0)" coords="546,164,594,215,607,203,558,154" shape="poly">
                              </map>
                          </div>
                        </div> 
                  </div>
                  <div class="col-md-5">
                    <div class="site-desc">
                      <div class="header-mystop">
                        <h1>Site #</h1>
                        <h1>Description</h1>
                      </div>
                      <ul>
                        <li>
                            <a href="javascript:void(0)">
                              <span>1, 8, 10, 12, 24, 32</span>
                              <span>Rental Units</span>
                            </a>
                            <div class="hover-shows">
                              These are units that we rent out. #1, 10 and 12 are airport shuttle buses converted into 'Tiny Homes.' #1 has a phenomenal view looking right onto the lake. None have toilets, but all are less than a minute walk to the park's beautiful newly-remodelled restrooms, each with two spacious showers. Units #8 and #32 are fully-equipped travel trailers (with complete bathrooms). At 40 feet, Unit #24 is an extra-long 'Tiny Home' remodelled bus (with its own toilet facilty).
                            </div>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <span>2 - 7	</span>
                            <span>Lakefront		</span>
                          </a>
                          <div class="hover-shows">
                            These RV spaces are all at the park's main seawall with incredible views. Like every one of our RV spaces, they have 20/30/50 amp electricity, water, sewer hookups, and WiFi.                           
                          </div>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <span>9, 11		</span>
                            <span>(Semi-) Pull-thru</span>
                          </a>
                          <div class="hover-shows">
                            Although they are not 'lakefront,' these RV spaces are 'lakeside' (in that spaces numbered above 12 are all on the north side of the quiet road that divides the park into north and south portions). Like all of our RV spaces, they have 20/30/50 amp electricity, water, sewer hookups, and WiFi.                           
                          </div>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <span>13 - 31, 33 - 44	</span>
                            <span>Back-in		</span>
                          </a>
                          <div class="hover-shows">
                            These RV spaces are at the park's 'north campus.' Guests usually back into them. Like all of our RV spaces, they have 20/30/50 amp electricity, water, sewer hookups, and WiFi.                      
                          </div>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <span>45 - 52	</span>
                            <span>Standard Pull-thru		</span>
                          </a>
                          <div class="hover-shows">
                            These RV spaces - also at the park's 'north campus' - are 'pull-thru' spaces. Like all of our RV spaces, they have 20/30/50 amp electricity, water, sewer hookups, and WiFi.                      
                          </div>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <span>53 - 60	</span>
                            <span>Extra-Long Pull-thru</span>
                          </a>
                          <div class="hover-shows">
                            These RV spaces - also at the park's 'north campus' - are 'extra long pull-thru' spaces, with one reaching 90' in length! Like all of our RV spaces, they have 20/30/50 amp electricity, water, sewer hookups, and WiFi.                      
                          </div>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <span>LT	</span>
                            <span>Lakeside Tent Sites		</span>
                          </a>
                          <div class="hover-shows">
                            Our Lakeside Tent Sites are located in a lovely shaded area which is the only area in the park that does not house RV's. Wake up to vistas of our magnificent lake. The activities room - with gasmes, puzzles, communcal refrigerator, prep sink, microwave, etc. - is right next door, and the canoes and kayaks (which all our guests can use free of charge) are perhaps another 20-30 yards away. For the comfort of our guests, we limit the number of tents to three in this area and we limit the number of children in this area. (Tent and child limitations are waived for those who wish to reserve the entire Lakeside Tenting area.) Dogs are allowed, but they must be very well-behaved so as not to disturb other parties.                      
                          </div>
                        </li>
                        <li>
                          <a href="javascript:void(0)">
                            <span>NLT	</span>
                            <span>Non-Lakeside Tent Sites		</span>
                          </a>
                          <div class="hover-shows">
                            We allow tenters to stay in our North Campus at RV sites that are vacant. They are not certainly not glamorous, but they are completely functional. There is room for a large tent and there is electricity and water at each site. A fire pit is usually permitted (as long as it is safe), and the tenters have access to all of our amenities (such as the activities room, the beach area, the "point," the seawall, free use of our canoes and kayaks, our beautiful newly remodeled restrooms, the barbecue area, etc.).                      
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              

              <div class="row">
                 <div class="form-group col-md-12 col-sm-12 col-12 text-right">
                   <button type="button" class="btn_sub btn prevslides" style="float:left;">Previous</button>
                   <button type="submit" class="btn_sub btn">Submit</button>
                 </div>
              </div> 
           </div>
        </div>
      </form>
     </div>
  </div>
</div>
<ng-template #content let-modal>
    <div class="modals_body">
      <div class="modal-header">
        
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-contents">
        <div class="frm ps">
            <p class="instructions">
                Site #1 is our original &quot;Tiny Home&quot; conversion of a Sacramento International Airport shuttle bus. Located directly behind our main seawall, it has a phenomenal view of the lake. There is a fire pit and a tiled concrete picnic table, with plenty of tree cover. Typical of our reviews have been, &quot;I loved staying at this tiny house! The place was adorable and the view spectacular!&quot; and &quot;Overall a wonderful place to stay. The view of the lake are amazing. There's free kayaks and canoes for use. The bathrooms are amazingly clean and modern &quot;.  
            </p>
        </div>
        <div class="frm">
          <div class="img_main">
              <div class="row">
                <div class="col-md-6 custom-img">
                    <img src="../../../../assets/images/mod2.png">
                    <span>With vehicle</span>
                </div>
                <div class="col-md-6 custom-img">
                    <img src="../../../../assets/images/mod1.png">
                    <span>Without vehicle</span>
                </div>
              </div>
          </div>
        </div>
        <div class="frm rdio">
          <h4 class="modal-title" style="padding: 0px 0px 0px 5px" id="modal-basic-title">Do you want tent for  : {{siteID}}</h4>
          <form id="ngForm" [formGroup]="tentSelection" (ngSubmit)="tentSelections(tentSelection, siteID) ">
              <div style="color:#fff" class="modal-body">
                  <div class="form-group col-md-4 col-sm-6 col-12 radiodesign">  
                      <div class="form-check formcheckboxs">
                          <label class="form-check-label">
                            <input type="radio" class="reser form-check-input"  [(ngModel)]="selectiontents"  name="tentSelectionOption" formControlName="tentSelectionOption" value='yes' [checked]="true">Yes
                            <span></span>
                          </label>
                      </div> 
                        <div class="form-check formcheckboxs">
                          <label class="form-check-label">
                            <input type="radio" class="reser form-check-input"  name="tentSelectionOption" formControlName="tentSelectionOption" value='no'>No
                            <span></span>
                          </label>
                        </div>
                        <div class="modal-footer pd0-both">
                            <button type="submit" class="btn btn-outline-dark" >Save</button>
                        </div>
                  </div>
              </div>
          </form>  
        </div>
      </div>
      
    </div>
  </ng-template>


  <div class="modal fade" id="alertevent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content title-main">
        <div class="modal-body">
         <div class='title-main'>  
			<p>
				We are sure we can find a discount for you. Look again, please, and check carefully.
			</p>
		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button> 
         <!-- <button type="button" class="btn btn-primary">Ok</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- bootstrap model  -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>