<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list"></i> Reservation List</h1>
      <p>List of Reservations  on rvparks</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table class="table table-hover table-bordered table-responsive" id="sampleTable">
            <thead>
                    <tr>
                      <th>User Name</th>
                      <th>User email</th>
                      <th>Transaction Number</th>
                      <th>Amount</th>
                      <th>Status</th>
                      <th>Reservation date(Check-in to Check-out)</th>
                      <th>Total Nights</th>
                      <th>Booking date</th> 
                      <th>payment type </th>                 
                      <th>Site Number</th>
                    </tr>
            </thead>
            <tbody>
                 <ng-container *ngFor="let item of reservationList | keyvalue">
                    <tr>
                      <td> {{item.value.fname}} {{item.value.lname}}</td>
                      <td> {{item.value.email}} </td>
                      <td> {{item.value.txn}}</td>
                      <td> {{item.value.ammount}}</td>
                      <td> {{item.value.statusssssss}}</td>
                      <td> {{item.value.arrival_date}} - {{item.value.departure_date}}</td>
                      <td> {{item.value.dayss}} </td>
                      <td> {{item.value.booking_date}}</td>
                      <th> {{item.value.paymentModess}} </th>
                      <td> {{item.value.site_no}} </td>
                    </tr>
                  </ng-container>
            </tbody>
          </table>
        </div> 
      </div>
    </div>
  </div>
</main>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>            