<!-- Navbar-->
<header class="app-header">
		<a class="app-header__logo" [routerLink]="['/dashboard/']">Rv Park</a>
      <!-- Sidebar toggle button-->
		<!-- <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a> -->
		<!-- Navbar Right Menu-->
		  <ul class="app-nav">
      <!-- 
        <li class="app-search">
          <input class="app-search__input" type="search" placeholder="Search">
          <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
      -->
			<!--Notification Menu-->
			<li class="dropdown"> <a href="javascript:void(0)" (click)="logout1()" class="nav-link logouts_btn">Logout</a>
			</li>
			
		  </ul>
    </header>
    
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">John Doe</p>
          <p class="app-sidebar__user-designation">RVPARK Admin</p>
        </div>
      </div>
      <ul class="app-menu">
        <li>
          <a class="app-menu__item active" [routerLink]="['/dashboard/']" ><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span>
          </a>
        </li>
        <!--
          <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">Reservations</span><i class="treeview-indicator fa fa-angle-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a class="treeview-item" [routerLink]="['/dashboard/reservations']">
                    <i class="icon fa fa-circle-o"></i> 
                      All Reseravation
                  </a>
                </li>
                
              </ul>
           </li> 
           -->
           <li>
            <a class="app-menu__item" [routerLink]="['/dashboard/reservations']" ><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Reservations</span>
            </a>
          </li>
          <li>
            <a class="app-menu__item" [routerLink]="['/dashboard/']" ><i class="app-menu__icon fa fa-dashboard"></i>
              <span class="app-menu__label">Users</span>
            </a>
          </li>
          <li>
              <a class="app-menu__item" [routerLink]="['/dashboard/colors/']" ><i class="app-menu__icon fa fa-dashboard"></i>
                <span class="app-menu__label">Color Options</span>
              </a>
           </li>
       
      </ul>
    </aside>