<div class="tab-pane" id="logins">
    <div class="common-design Wlheading">
        <div class="CrtFrom">
          <form [formGroup]="forgetPassForm" (ngSubmit)="forgetPass(forgetpass)">
             <h3>Forget Password</h3>
             <span class="success_msg"></span>  
                <div class="loginform">
                 <div class="ReqInput">
                   <div class="form-group d-flex">
                    <label>Username (Email Address) </label>
                    <input type="email" name="loginemail" formControlName="loginemail" placeholder="" required="" class="form-control"/>
                   </div>
                   <div *ngIf="submitted && forgetPassForm.controls.loginemail.errors" class="form_required">
                        <div *ngIf="forgetPassForm.controls.loginemail.errors.required">Please insert first name</div>
                        <div *ngIf="forgetPassForm.controls.loginemail.errors.email">Invalid Email Address</div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn_sub btn loginbtn">Submit</button>
                    </div>
                  </div>
                   
                  </div>
            </form>
          </div>
      </div>
  </div>          

                