<main class="app-content">
    <div class="app-title">
      <div>
          
        <h1><i class="fa fa-th-list"></i> User List</h1>
        <p>List of registered user on rvpark</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
           
            <table class="table table-hover table-bordered" id="sampleTable">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>                   
                  <th>View More</th>
                </tr>
              </thead>
              <tbody>
                    <ng-container *ngFor="let item of allUserList | keyvalue">
                      <tr>
                        <td> {{item.value.fname}}</td>
                        <td> {{item.value.lname}} </td>
                        <td> {{item.value.email}} </td>
                        <td> {{item.value.phone}} </td>
                        <td><a [routerLink]="['/dashboard/profile/',item.value.id]" class="ViewT"> view more</a> </td>
                      </tr>
                    </ng-container>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>            