<div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Reservation Date</th>
                    <th>Amount</th>
                    <th>Discount<br>(Percentage)</th>
                    <th>Site No</th>
                    <th>Transaction id</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of reservationList; let i = index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{item.arrival_date+" to "+item.departure_date}}</td>
                        <td>{{item.ammount}}</td>
                        <td>{{item.discount}}</td>
                        <td>{{item.site_no}}</td>
                        <td>{{item.txn}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                </ng-container>
            </tbody>
          </table>
          </div>
        </div>
      </div>
 </div>
 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>   