<div class="common-design Wlheading">
  <h3>RECENT/CURRENT RENOVATIONS</h3>
  <p>
    Much has been done to renovate the property since it was last purchased in 2015. The first work involved fixing and replacing the cracks in the concrete that were seen as hazardous. We then set about making major renovations to the building that houses the laundry, office, restrooms, and activities room. Those renovations are nearing completion. The building has been painted and most of the deteriorated soffits, etc., have been replaced. The bathrooms are now exquisite, with granite countertops, large mirrors, motion activated faucets and soap dispensers, tile flooring, waterless urinals, and private (completely enclosed) rooms housing our commodes. Numerous guests have told us that ours are the nicest bathrooms they have ever seen at a camping or RV park. The laundry and office are almost finished, with a new entrance from Lakeshore Boulevard now cut into the wall (so that guests and others no longer have to walk through the laundry room to check in, etc.). In front of the restrooms, the dumpster enclosure was demolished and a flood-proof handicapped bathroom has been constructed. Although the fixtures and interior decorations are still to be installed, that work should soon be completed as well.
  </p>
  <p>Tiled cement picnic tables have been constructed, and all seven lakefront pads should soon have their tables and benches in place. Extensive landscaping work has been performed (though much is still planned). We have an impressive driftwood fountain with water that cascades down from up in an adjacent tree and surrounded by flowers. The area outside the activities room has been fenced in to provide privacy for those who use that room as well as for tenters who stay in that second lakefront area. "The point" - where guests can fish or simply enjoy being within a 300+ degree view of water - has been remodeled with a stamped concrete walkway and additional landscaping.
    </p>
    <p>
      The large (6,000 square foot) building on the west side of the property that literally extends into the lake now has a 167-panel solar energy system installed, and an assortment of new structural supports. Planning has been begun to convert the space into the Nice Wellness Center and to house a unique luxury accommodation overlooking the lake with fireplace, steam shower, massage chair, hot tub and more. 
      </p>
</div>
