<div class="tab-pane" id="contactus">
  <div class="common-design Wlheading">
     <div class="CrtFrom">
        <form id="ngForm" [formGroup]="contactusform" (ngSubmit)="contactusforms(contactusform) ">
          <div class="parent-account">
           <div class="pactive mainsectionC">
              <div class="row"> 
                  <div class="form-group col-md-6 col-sm-6 col-12">
                    <input type="text" name="fname" formControlName="fname" placeholder="First Name" class="form-control" required="required">
                    <div *ngIf="submitted && contactusform.controls.fname.errors" class="form_required">
                        <div *ngIf="contactusform.controls.fname.errors.required">Please provide first name</div>
                        <div *ngIf="contactusform.controls.fname.errors.pattern">Only charcter are allowed</div>
                    </div>
                  </div>
              </div>
              <div class="row"> 
                  <div class="form-group col-md-6 col-sm-6 col-12">
                    <input type="text" name="lname" formControlName="lname" placeholder="Last Name" class="form-control" required="required">
                    <div *ngIf="submitted && contactusform.controls.lname.errors" class="form_required">
                        <div *ngIf="contactusform.controls.lname.errors.required">Please provide last name</div>
                        <div *ngIf="contactusform.controls.lname.errors.pattern">Only charcter are allowed</div>
                    </div>
                  </div>
              </div>
              <div class="row"> 
                  <div class="form-group col-md-6 col-sm-6 col-12">
                    <input type="text" name="emailcontact" formControlName="emailcontact" placeholder="Email" class="form-control" required="required">
                    <div *ngIf="submitted && contactusform.controls.emailcontact.errors" class="form_required">
                        <div *ngIf="contactusform.controls.emailcontact.errors.required">Please provide email address</div>
                        <div *ngIf="contactusform.controls.emailcontact.errors.pattern">Please enter valid email address</div>
                    </div>
                  </div>
              </div>
              <div class="row"> 
                  <div class="form-group col-md-6 col-sm-6 col-12">
                    <textarea  name="message" formControlName="textmessage" placeholder="Message" class="form-control" required="required"></textarea>
                    <div *ngIf="submitted && contactusform.controls.textmessage.errors" class="form_required">
                        <div *ngIf="contactusform.controls.textmessage.errors.required">Please provide message</div>
                        <div *ngIf="contactusform.controls.textmessage.errors.pattern">Only charcter are allowed</div>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-12 col-sm-12 col-12 text-right">
                    <button type="submit" class="btn_sub btn">Submit</button>
                  </div>
               </div> 
             </div>
          </div> 
         </form>
      </div> 
    </div> 
</div>       

