<div class="table-carts">
  <h5>No. of days : <span>{{cartItemsResponse?.day}}</span> Days</h5>
  <label><span>From</span>{{startdate | date: 'dd/MM/yyyy'}}</label><br>
  <label><span>To</span>{{endDate | date: 'dd/MM/yyyy'}}</label>
  
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Site no.</th>
        <th>Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody> 
        <ng-container *ngFor="let item of cartItemsResponse?.sites; let i = index">
              <ng-container *ngIf="item.booking_type == 'per_day' else month_block"> 
                <tr>
                    <td> {{i+1}}</td>
                    <td>{{item.site_no}}</td>
                    <td>{{currency}} {{item.price}} / Night</td>
                    <td>{{currency}} {{item.price}} <span>*</span>{{cartItemsResponse?.day}} Days<span *ngIf="item.tents == 'yes'">+{{currency}}{{cartItemsResponse?.day *6}}</span> <span>=</span> {{currency}} {{item.total_price}}<br>
                      <span *ngIf="item.tents == 'yes'">
                        (Included Tent price {{currency}}6.00 per day)
                      </span>
                    </td>
                </tr> 
              </ng-container>
              <ng-template #month_block> 
                    <tr>
                      <td> {{i+1}}</td>
                      <td>{{item.site_no}}</td>
                      <td>{{currency}} {{item.per_day_price}} / Night<br>{{currency}} {{item.per_month_price}} / Month</td>
                      <td>{{currency}} {{item.per_day_price}} <span>*</span>{{item.number_day}} Days<span>=</span> {{currency}} {{item.day_calculation}}<br>
                          {{currency}} {{item.per_month_price}} <span>*</span>{{item.number_month}} Month<span *ngIf="item.tents == 'yes'">+{{currency}}{{cartItemsResponse?.day *6}}</span><span>=</span> {{currency}} {{item.per_month_price}}<br>
                          <span *ngIf="item.tents == 'yes'">
                             Total: {{item.total_price}}<br>
                            (Included Tent price {{currency}}6.00 per day)
                          </span>
                     </td>
                  </tr> 
               </ng-template>
        </ng-container>
    </tbody>
    <tbody class="total_r">
        <tr>
            <td></td>
            <td></td>
            <td>Total</td>
            <td><b>{{currency}} {{cartItemsResponse?.total}}</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Discount</td>
            <td><b>{{cartItemsResponse?.discount_percent}} %</b></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>New Total</td> 
            <td><b>{{currency}} {{cartItemsResponse?.new_total}} </b></td> 
        </tr>
    </tbody>
    <tbody style="display: none" class="total_r">
        <tr>
            <td colspan="3">
                <div class="form-group col-md-12 col-sm-12 col-12 text-right">
                    <button type="button" (click)="paymentPaypal($event)" class="btn_sub btn nextslidess">Checkout</button>
                 </div>  
            </td>
        </tr>
    </tbody>
  </table>
</div>
<div class="paymentOption">
        <input type="radio" (change)="paymentoption($event)" name="payoption" checked value="paypal">Paypal
        <input type="radio" (change)="paymentoption($event)" name="payoption" value="cash">cash
        <input type="radio" (change)="paymentoption($event)" name="payoption" value="cheque">Cheque

</div>
<div id="lst_paypal">
    <ngx-paypal class="finalPaypal"  [config]="payPalConfig"></ngx-paypal>
</div>
<div id="cash_pay" style="display:none">
    <button type="button" (click)="submitPayment($event,'cash')" class="btn_sub btn nextslidess">Submit</button>
</div>
<div id="cheque_pay" style="display:none">
    <button type="button" (click)="submitPayment($event,'cheque')" class="btn_sub btn nextslidess">Submit</button>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>