<div class="common-design Wlheading">
    <h3>FUTURE PLANS</h3>
    <p>
      The immediate future will be filled with completion of the projects noted in the "Recent/Current Renovations" section. Additionally, a new seawall has to be constructed. Eventually, if we can become profitable, we plan to have an infinity pool, a hot tub, a pier out to a gazebo about 2/3 of the way to Otter Island, and restrooms with showers on the north campus. We also envision a park filled with lush landscaping. We have made significant strides towards that goal, but have a burning desire to have the park environment bask our guests in flowers, trees and all-round natural beauty to match the magnificent lake we have at our southern property line.
    </p>
 </div>