<div *ngIf="isvalidKey">

  <div class="tab-pane" id="logins">
    <div class="common-design Wlheading">
        <div class="CrtFrom">
          <form [formGroup]="changePass" (ngSubmit)="changePassFun(changePass)">
             <h3>Forget Password</h3>
             <span class="success_msg"></span>  
                <div class="loginform">
                 <div class="ReqInput">
                   <div class="form-group d-flex">
                        <label>Password </label>
                        <input type="password" name="first_password" formControlName="first_password" placeholder="" required="" class="form-control"/>
                   </div>
                   <div *ngIf="submitted && changePass.controls.first_password.errors" class="form_required">
                        <div *ngIf="changePass.controls.first_password.errors.required">Please insert Password</div>
                        <div *ngIf="changePass.controls.first_password.errors.pattern">Invalid Password</div>
                    </div>
                    <input [(ngModel)]="userID" value="{{userID}}" type="hidden" name="user_id" formControlName="user_id" placeholder="" required="">

                    <!--  Confirm Password  -->
                    <div class="form-group d-flex">
                      <label>Confirm Password </label>
                      <input type="password" name="confirm_pass" formControlName="confirm_pass" placeholder="" required="" class="form-control"/>
                    </div>
                    <div *ngIf="submitted && changePass.controls.confirm_pass.errors" class="form_required">
                          <div *ngIf="changePass.controls.confirm_pass.errors.required">Please insert Confirm password</div>
                          <div *ngIf="changePass.controls.confirm_pass.errors.pattern">Invalid Confirm Password</div>
                    </div>
                    <!--  Confirm Password  -->
                    <div class="form-group">
                        <button type="submit" class="btn_sub btn loginbtn">Submit</button>
                    </div>
                  </div>
                   
                  </div>
            </form>
          </div>
      </div>
  </div> 

</div>
<div *ngIf="!isvalidKey">
  <h4>Invalid Key</h4>
</div>