<!-- middle body content   -->
<div class="col-md-4" id="sidebar-container">
    <div class="sticky-top sticky-offset">
       <div class="discounts-v">
          <h3>Check out our</h3>
          <h2>Discounts!</h2>
          <a href="">(Click on Reservations for details)</a>
       </div>
       <div class="savedraft">
          <a href=""><span class="ti-heart"></span> Save to Favorites</a>
       </div>
       <div class="savedraft">
          <a href="javascript:void(0)"><span class="ti-email"></span> Subscribe by Email</a>
       </div>
       <div class="social-share">
          <h4>Social Share -</h4>
            <ul>
              <!-- <li><span class="ti-sharethis"></span></li> -->
              <li><a href="javascript:void(0)"><span class="ti-facebook"></span></a></li>
              <li><a href="javascript:void(0)"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="javascript:void(0)"><span class="ti-instagram"></span></a></li>
              <li><a href="javascript:void(0)"><span class="ti-pinterest-alt"></span></a></li>
            </ul>
       </div>
       <div class="img-appends">
          <div class="owl-carousel" id="cyclingimages">
             <div class="item"> 
                <img src="assets/images/banner/1a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/2a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/3a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/4a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/6a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/7a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/8a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/9a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/10a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/12a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/13a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/14a.png" class="w-100"/>
             </div>
             <div class="item"> 
                <img src="assets/images/banner/15a.png" class="w-100"/>
             </div>
          </div>
       </div>
    </div>
  </div>
  
