span.note {
    font-size: 12px;
}
.passs {
    font-size: 11.5px;
}
.oneninein select {
    margin: 10px 0px 15px 9px !important;
}
input.ng-untouched.ng-pristine.ng-invalid.flatpickr-input,
input.ng-untouched.ng-pristine.ng-invalid.flatpickr-input.active  {
    width: 90% !important;
    border: 1px solid !important;
    border-radius: 6px !important;
    /* max-width: 240px; */
    margin: 10px 12px !important;;
}
.commonselect{
    border-radius: 3px;
    height: 44px !important;
}
fieldset.birthdayPicker select {
    margin: 0 3px;
}
.row.drives-mains {
    width: 100%;
    margin: 0;
    border: 1px solid #222;
    border-radius: 4px;
    padding-top: 26px;
    padding-bottom: 10px;
}
.row.drives-mains label {
    position: relative;
    left: -10px;
}
fieldset.birthdayPicker select {
    margin: 0 4px;
    border-radius: 5px;
}

div#default-birthday select {
    border-radius: 3px;
}