<div (click)="redirectTohome()" class="title-main">
    <h1><span>THE AURORA</span> RV PARK</h1>
    <p>(with "Tiny Home," Travel Trailer, and Tent Site rentals available, too)</p>
</div>
<ul class="nav-bottoms nav nav-tabs menuhover wsrt" >
    <li (click)="menuhover($event)" style="visibility:''" [className]="'ForMainSub overView'" class="ForMainSub overView">
       <a  [className]="'overViewDefault'" routerLink="/">Overview</a>
       <ul class="submenuli nav nav-tabs">
            <li class="nav-item">
               <a routerLink="/" data-toggle="tab" class="nav-link"> Welcome</a>
            </li>
            <li class="nav-item">
                <a routerLink="/history" data-toggle="tab" class="nav-link"> Aurora History</a>
            </li>
            <li class="nav-item">
                 <a routerLink="/renovations" data-toggle="tab" class="nav-link"> Recent/Current Renovations</a>
            </li>
            <li class="nav-item">
                <a routerLink="/futureplan" data-toggle="tab" class="nav-link"> Future Plans</a>
            </li>
       </ul>
    </li> 
    <!-- <li (click)="menuhover($event)" style="visibility:''" class="ForMainSub loginbtns" *ngIf="currentUser.CurrrentLoggedinUser() === null">
       <a routerLink="/login" data-toggle="tab" class="nav-link"> Login</a>
    </li>
    <li class="ForMainSub nav-item" *ngIf="currentUser.CurrrentLoggedinUser() === null">
       <a routerLink="/registration" class="nav-link">Create Account</a>
    </li> -->
    <li (click)="menuhover($event)"  class="ForMainSub nav-item" style="visibility:''" *ngIf="currentUser.CurrrentLoggedinUser() !== null">
        <a routerLink="/profile" class="nav-link">Profile</a>
        <ul class="submenuli nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="/ordersuser">Orders</a>
            </li>
            <li class="nav-item" *ngIf="currentUser.CurrrentLoggedinUser() !== null">
                <a href="javascript:void(0)" (click)="logout()" class="nav-link">Logout</a>
            </li>
         </ul>
    </li>
    <!-- 
    <li class="ForMainSub nav-item" *ngIf="currentUser.CurrrentLoggedinUser() !== null">
        <a href="javascript:void(0)" (click)="logout()" class="nav-link">Logout</a>
    </li>
     -->
    <li (click)="menuhover($event)"  style="visibility:''" class="ForMainSub">
       <a routerLink="/reservation"  class="nav-link">Reservations</a>
       <!-- <ul class="submenuli nav nav-tabs">
       <li   class="nav-item" *ngIf="currentUser.CurrrentLoggedinUser() === null">
            <a routerLink="/login" data-toggle="tab" class="nav-link"> Login</a>
        </li>
         
        <li class="nav-item" *ngIf="currentUser.CurrrentLoggedinUser() === null">
            <a routerLink="/registration" class="nav-link">Create Account</a>
        </li> 
        
     </ul> -->
    </li>
    <li (click)="menuhover($event)"  style="visibility:''" class="ForMainSub">
       <a href="javascript:void(0)">Local Information</a>
       <ul class="submenuli nav nav-tabs">
          <li class="nav-item"><a class="nav-link" href="#localactivities" data-toggle="tab">Local Activities</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#localweather">Local Weather</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#linkinterest">Links of Interest</a></li>
          <li class="nav-item"><a class="nav-link" href="http://waterdata.usgs.gov/ca/nwis/uv?site_no=11450000" target="_blank">Lake Level</a></li>
          <li class="nav-item"><a class="nav-link" href="http://www.dot.ca.gov/cgi-bin/roads.cgi" target="_blank">Road Conditions</a></li>
       </ul>
    </li>
    <li (click)="menuhover($event)" class="ForMainSub">
       <a href="#policies" data-toggle="tab" class="nav-link">Policies</a>
    </li>
    <li  class="nav-item" *ngIf="currentUser.CurrrentLoggedinUser() === null">
            <a routerLink="/login" data-toggle="tab" class="nav-link"> Login</a>
     </li>
    <li (click)="menuhover($event)" class="ForMainSub">
       <a routerLink="/contact" class="nav-link">Contact Us</a>
    </li>
    
    
 </ul>