/* You can add global styles to this file, and also import other style files */
.backdrop {
    z-index: 1999;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.78) !important;
    height: 100vh;
    overflow: hidden;
}
.oneinputs #default-birthday select {
    width: 68px;
    margin-top: 9px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #000;
}
.disaledclas > input {
    pointer-events:none;
} 