<section class="login-content">
    <div class="logo">
      <h1>Vali</h1>
    </div>
    <div class="login-box">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm)">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
        <div class="form-group">
          <label class="control-label">USERNAME</label>
          <input type="email" name="loginemail" formControlName="loginemail" placeholder="" required="" class="form-control"/>
          <div *ngIf="submitted && loginForm.controls.loginemail.errors" class="form_required">
            <div *ngIf="loginForm.controls.loginemail.errors.required">Please insert first name</div>
            <div *ngIf="f.loginemail.errors.email">Invalid Email Address</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">PASSWORD</label>
          <input type="password" name="password" formControlName="password" placeholder="" required="" class="form-control"/>
          <div *ngIf="submitted && loginForm.controls.password.errors" class="form_required">
            <div *ngIf="loginForm.controls.password.errors.required">Please insert password</div>
         </div>
        </div>
        <div class="form-group">
          <div class="utility">
            
            <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
          </div>
        </div>
        <div class="form-group btn-container">
          <button type="submit" class="btn_sub btn loginbtn">Login</button>
        </div>
      </form>
      <form class="forget-form" action="index.html">
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
        <div class="form-group">
          <label class="control-label">EMAIL</label>
          <input class="form-control" type="text" placeholder="Email">
        </div>
        <div class="form-group btn-container">
          <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
        </div>
        <div class="form-group mt-3">
          <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
        </div>
      </form>
    </div>
  </section>
