/*@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}*/
/*span, label, a, ul, li{
 font-family: Montserrat-Regular;
}*/

@font-face {
    font-family: FontleroyBrownNF;
    src: url(../fonts/ArnoiaDisplay.otf);
}
/*@font-face {
  font-family: FontleroyBrownNF;
  src: url(../fonts/CFNationalStitches-Regular.ttf);
} */
input.ng-untouched.ng-pristine.ng-invalid.flatpickr-input,
input.ng-untouched.ng-pristine.ng-invalid.flatpickr-input.active  {
    width: 90% !important;
    border: 1px solid !important;
    border-radius: 6px !important;
    margin: 10px 12px !important;;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  margin:0;
}
*{
  text-decoration: none;
  outline: none;
}
body {
    font-family: 'Google Sans';
    /*background: rgb(255, 241, 227);*/
}
.bgmainColor {
    background: rgb(255, 241, 227);
}
a:hover{
    text-decoration: none;
}
/*===============header===============*/
/*===============header===============*/
.main_header nav {
    background: transparent;
    box-shadow: none;
}
a.navbar-brand h2 {
    margin: 0;
    font-size: 30px;
}
a.navbar-brand h2 img {
    width: 52px;
    position: relative;
    top: -1px;
}
a.navbar-brand {
    color: #FFCC99;
    padding-top: 0;
}
.main_header nav ul > li > a {
    color:#6c8495;
    font-size: 15px;
    text-transform: capitalize;
    padding: 14px 30px 14px 0 !important;
    transition: all 0.5s;
    font-weight: 500;
    letter-spacing: 0.5px;
}
ul.navbar-nav.mainmenus li a.redmores {
    padding: 11px 14px !important;
    margin-left: 14px;
    box-shadow: 0px 0px 12px 0px #cecece;
}
ul.navbar-nav.mainmenus li a.redmores:hover{
    background-color: #38ceff !important;
    color:#fff !important;
}
.main_header nav .nav-wrapper {
    padding-left: 150px;
}
.main_header nav .brand-logo {
    left: 0;
}
.main_header a.brand-logo img {
    max-width: 245px;
    padding: 22px 10px 10px 10px;
}
/*.main_header nav ul a:hover {
    background-color: #f5f5f5;
}*/
nav ul a:hover {
    background-color: transparent;
    color: #0065ca !important;
}
.main_header .dropdown-content li a {
    padding: 14px 11px !important;
}
.main_header i {
    font-size: 13px;
    color: #6e6e6e;
}
.main_header {
/*    position: absolute;
    left: 0;
    right: 0;
    top: 0;*/
    transition: all 0.5s;
    z-index: 9;
}
.my_allmenus {
    display: block;
    width: 100%;
    padding-right: 40px;
}
.rightmenus li a span {
    font-size: 14px;
    position: relative;
    top: 1px;
}
.rightmenus span.ti-search{
    top: 3px;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #b3b3b3;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #FFCC99;
    z-index: 9999999;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.loader img {
    width: 140px;
    margin: 0 auto;
    position: relative;
    top: -40px;
}
.loader h1 {
    font-size: 45px;
    margin-top: -12px;
    color: #2f2f2f;
}
span.blue1 {
    color: #ff8f26;
}
span.blue2 { 
    color: #252525;
}
.main_header nav ul > li > a:hover {
    color: #f7a95c !important;
}
.button-homeimg {
    text-align: left;
}
.radiodesign .form-check-label {
    cursor: pointer;
    white-space: nowrap;
}
.common-design h5 {
    font-size: 54px;
    width: 100%;
    margin: 0 auto 28px auto;
    /*font-family: FontleroyBrownNF;*/
    letter-spacing: 1px;
    color: #444444;
    font-weight: normal;
    text-shadow: 1px 2px 0px #0088cc;
    line-height: 58px;
}
.creatlabels label {
    white-space: nowrap;
    margin-right: 9px;
    line-height: 42px;
    font-size: 14px;
}
section.bgmainColor.mainsection > div >div .col-md-8 {
    min-height: 100vh;
}
.common-design  h5.text-center.mb20 strong {
    color: red;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 55px;
}
.common-design h5 span {
    display: block;
}
.awesome-text {
    text-align: center;
}
.awesome-text h1 {
    font-size: 60px;
    width: 100%;
    margin: 0 0 16px 0;
    /*font-family: FontleroyBrownNF;*/
    letter-spacing: 1px;
    color: #444444;
    font-weight: normal;
    text-shadow: 1px 2px 0px #0088cc;
    line-height: 50px;
}
.awesome-text h2{
    font-size: 50px;
    width: 100%;
    margin: 0 0 8px 0;
    /*font-family: FontleroyBrownNF;*/
    letter-spacing: 1px;
    color: #444444;
    font-weight: normal;
    text-shadow: 1px 2px 0px #0088cc;
    line-height: 50px;
}
/*===============header===============*/
/*===============header===============*/


/*===========slider==============*/
.updatenews {
    padding: 10px 0 11px 0px;
    text-align: center;
    /* background: #f9f9f9; */
    position: relative;
    width: 100%;
    border: 1px solid #eccea7;
}
.button-home a {
    display: inline-block;
    padding: 1px 9px;
    border-radius: 1px;
    color: #fff;
    background: #684133;
    font-size: 15px;
    transition: all 0.2s;
}
.button-home a:hover {
    background: #4472c4;
}
.updatenews .container {
    position: relative;
    max-width: 1290px;
}
.updatenews .col-md-10.col-sm-12.col-12 {
    padding-left: 0;
}
.updatenews .col-md-2.col-sm-12.col-12 {
    padding-right: 0;
}
.button-homeimg a {
    display: inline-block;
}
.button-homeimg a img {
    width: 100%;
    max-width: 150px !important;
    height: 120px;
}
.button-home {
    position: absolute;
    z-index: 1;
    left: 14px;
    top: 3px;
}
.upd-cnts1 img {
    display: inline-block !important;
    width: 108px !important;
    position: relative;
    top: -4px;
}
.upd-cnts1 h5 {
    font-size: 18px;
}
div#cyclingimages p {
    margin: 10px 0 0 0;
    line-height: 18px;
}
#cyclingimages .owl-next, #cyclingimages .owl-prev {
    display: none;
}
.jassorright {
    float: right;
    margin-right: 45px;
    margin-top: 16px;
}
div#jssor_1 > div:first-child {
    width: 88% !important;
    margin: 0 0px 0 74px;
    overflow: hidden;
}
@media only screen and (min-width: 1400px) and (max-width: 4000px) {
    div#jssor_1 > div:first-child {
        margin: 0 0px 0 150px;
        left: -6% !important;
    }
    div#jssor_1 > div:nth-child(3) {
        margin: 1px 123px 0 0 !important;
    }
  }  

  @media only screen and (max-width: 1367px) and (min-width: 992px)
  {
  
    div#jssor_1 > div:nth-child(3) {
    /* right: -70px !important; */
    }
  }
  
  
  @media only screen and (max-width: 1540px) and (min-width: 1367px)
  {
  
    div#jssor_1 > div:nth-child(3) {
    right: -3px !important;
    }
  }
  
  
  @media only screen and (min-width:1541px) and (max-width:1670px)
  {
    div#jssor_1 > div:nth-child(3) {
    right: -70px !important;
    }
  }
  
  @media only screen and (min-width:1671px) and (max-width:1850px)
  {
    div#jssor_1 > div:nth-child(3) {
    right: 20px !important;
    }
  }
  
  
  @media only screen and (min-width:1851px) and (max-width:1900px)
  {
    div#jssor_1 > div:nth-child(3) {
    right: -70px !important;
    }
  }
  
  
  
  @media only screen and (min-width:1901px) and (max-width:2000px)
  {
    div#jssor_1 > div:nth-child(3) {
    right: -70px !important;
    }
  }
  
  @media only screen and (min-width:2001px) and (max-width:2500px)
  {
    div#jssor_1 > div:nth-child(3) {
    right: 60px !important;
    }
  }
  
  @media only screen and (min-width:2501px) and (max-width:4000px)
  {
    div#jssor_1 > div:nth-child(3) {
    right: -70px !important;
    }
  }
  
  @media only screen and (min-width:4001px) and (max-width:5000px)
  {
    div#jssor_1 > div:nth-child(3) {
    right: -70px !important;
    }
  }
  
  
  @media only screen and (min-width:5001px) and (max-width:10000px)
  {
    div#jssor_1 > div:nth-child(3) {
    right: 305px !important;
    }
  }
  
  







































.md5relatives label {
   white-space: nowrap;
   margin: 0 4px 0 4px;
   line-height: 42px;
   color: #8c8c8c;
}
.md5relatives input.form-control:focus {
    box-shadow: none;
    background: none;
}
.updatenews .col-md-11.col-sm-10.col-12 {
    padding-left: 15px;
    padding-right: 8.333333%;
}
/*.updatenews .container {
    position: relative;
}*/
.jassorright img, .jassorleft img {
    width: 56px;
    cursor: pointer;
}
div#jssor_1 > div:nth-child(2) {
    display: block;
    width: 100% !important;
    margin: 0 auto;
    text-align: right !important;
}
 div#jssor_1 > div:nth-child(3) {
    /* position: relative !important;
    margin-left: 0;
    top: -12px !important;
    left: 4px !important; */
    margin: 0 21px 0 0 !important
}
#arrow-left{left:0 !important;}
#arrow-right{right: 0 !important;}
.mini-banners {
    box-shadow: 0px 0px 35px 0px #cecece;
}
/*.mini-banners img {
    border-radius: 4px;
}*/


/*===============Banner===============*/
/*===============Banner===============*/
.height100vh {
    background-size: cover !important;
    background-position: center !important;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.carousel-slider{
    height: calc(100vh - 71px) !important;
}
.height100vh::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: -1;
}
.banner_main{
	position: relative;
}
.banner_cntform h3 {
    font-size: 52px;
    color: #fff;
    letter-spacing: 0.5px;
    width: 100%;
    margin: 0 auto;
}
.banner_cntform h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 16px;
}
.banner_cntform p {
    font-size: 16px;
    color: #fff;
    margin: 5px 0 0 0;
    letter-spacing: 0.5px;
}
.img-appends img{
    width: 100%;
}
.banner_cntform {
    text-align: center;
    position: relative;
    top: -20px;
}
.mtop25 {
    margin-top: 25px;
}
.scrolldowns {
    position: absolute;
    bottom: 100px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    /* font: normal 400 20px/1 'Josefin Sans', sans-serif; */
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.scrolldowns span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.scrolldowns span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.scrolldowns span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}
.owl-prev {
    background-image: url(../images/rightbigarrow.png);
    font-size: 0;
    height: 60px;
    width: 60px;
    background-size: 61px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -55px;
}
.owl-next {
    background-image: url(../images/leftbigarrow.png);
    font-size: 0;
    height: 60px;
    width: 60px;
    background-size: 61px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -55px;
}

.redmores {
    background: #4472c4;
    display: inline-block;
    padding: 13px 26px;
    color: #fff !important;
    border-radius: 4px;
    transition: all 0.5s;
    outline: none;
    border: none;
    cursor: pointer;
}
.redmores span {
    position: relative;
    font-size: 12px;
    margin-left: 1px;
    transition: all 0.5s;
}
.img-form h1 {
    margin-bottom: 35px;
}
.form-group.row {
    margin-bottom: 24px;
}
.redmores:hover{
   opacity: 0.9;
}
.banner_cntform .redmores {
box-shadow: 0px 0px 26px 0px #222;
}
.top-bar {
    min-height: 72px;
    padding: 15px 0;
}
.mygrayclr {
    background: #e0e7ed;
}
.redmores.grens {
    background: #7ace7a;
    box-shadow: 0px 0px 10px 0px #d0d0d0;
    padding: 9px 16px;
    font-size: 15px;
    position: relative;
    top: 1px;
}
.mygrayclr nav {
    padding: 0;
}
ul.footer-social.right li:first-child a {
    border: none;
    padding-left: 0;
}
ul.inlinesdiv li {
    display: inline-block;
    margin-right: 6px;
    border-right: 1px solid #252525;
    padding-right: 9px;
    line-height: 12px;
    margin-bottom: 9px;
}
.savetimes {
    padding-bottom: 27px;
}
.sc_services_item {
    margin-bottom: 35px;
}
.sc_services_item_info h4 {
    font-size: 19px;
}
.sc_services_item_content p {
    line-height: 20px;
}
/*===============Banner===============*/
/*===============Banner===============*/
.title-main h1 span {
    color: #684133;
}
.title-main h1 {
    text-transform: uppercase;
    color: #684133;
    font-size: 57px;
    font-weight: bold;
    letter-spacing: 0.9px;
    font-family: 'Muli', sans-serif;
}
.title-main p {
    font-weight: bold;
    margin: 0 0 8px 0;
    font-size: 20px;
}
.title-main {
    text-align: center;
    padding-top: 3px;
    display: block;
    margin: 0 auto 6px;
    width: 100%;
    max-width: 775px;
    border: 6px solid #222;
    border-radius: 2px;
    background: rgb(252, 229, 205);
}
.img-appends{
    display: none;
}
button.btn_sub.btn.loginbtn {
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 15px;
}
.loginform {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}
.img-appends {
    padding: 15px;
    box-shadow: 0px 0px 10px 0px #eae8e8;
    background: #d3ad7e;
}
ul.nav-bottoms li {
    border: 2px solid #bbd4ea;
    height: 34px;
    border-radius: 0px;
    width: 14.25%;
    cursor: pointer;
    text-align: center;
    position: relative;
}
ul.nav-bottoms li a {
    text-align: center;
    display: inline-block;
    color: #222;
    font-size: 13.5px;
    font-weight: 500;
    padding-top: 5px;
    background: #cfe2f3;
    width: 100%;
    height: 100%;
    line-height: 22px;
}
ul.nav-bottoms > li > a {
    padding-left: 0;
    padding-right: 0;
}
ul.nav-bottoms > li > a:hover {
    background: #4472c4;
    color: #fff;
}
.nav-tabs .nav-link {
    border: none !important;
    border-radius: 0px;
}
ul.nav-bottoms.nav.nav-tabs > li > .nav-link.active {
    background-color: #cfe2f3 !important;
}
ul.nav-bottoms > li:hover{
    border-color: #4472c4;
}
ul.nav-bottoms li img{
    display: none;
}
.submenuli {
    position: absolute;
    top: 33px;
    left: 0;
    padding: 0;
    list-style: none;
    z-index: 9;
    background: #cfe2f3;
    min-width: 205px;
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
}
li.ForMainSub:hover .submenuli {
    opacity: 1 !important;
    /*visibility: visible !important;*/
} 
.submenuli li a:hover {
    background: #96a8b8;
    color: #fff;
}
.common-design.Wlheading {
    padding-left: 10px;
}
.submenuli.nav-tabs .nav-item.show .nav-link, .submenuli.nav-tabs .nav-link.active{
    color: #ffffff;
    background-color: #a2b9ce;
    border-color: transparent;
}
/*.submenuli  a.nav-link:hover {
    background: #a2b9ce;
    color: #fff;
}*/
.submenuli a {
    text-align: left !important;
    padding: 7px 13px;
    border-bottom: 1px solid #b7d5f1;
}
.discounts-v a {
    font-weight: bold;
    font-size: 18px;
    color: #4a4a4a;
}
.discounts-v {
    text-align: center;
    padding: 15px;
    color:#404040;
    border-bottom: 1px solid #debb8f;
}
#testimonialssl .owl-nav {
    display: none;
}  
.appendcontent {
    margin-top: 20px;
    display: none;
}
.discounts-v h3 {
    text-transform: uppercase;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}
ul.submenuli.nav.nav-tabs.submenu-open {
    display: block;
}
.discounts-v h2 {
    text-transform: uppercase;
    font-size: 49px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}
ul.nav-bottoms li.border-active {
    border: 2px solid #4472c4 !important;
}
ul.nav-bottoms {
    padding: 0;
    display: flex;
    list-style: none;
    position: relative;
    margin: 0 0 6px 0;
}
.submenuli li {
    width: 100% !important;
    display: block;
    border: none !important;
}
.main-cnts {
    /*background: #FFCC99;*/
    /*background: #f9f9f9;*/
    padding-bottom: 70px;
    background-image: radial-gradient(farthest-corner at 50% 0%, rgba(255,255,255,0) 0%, #fff 133%);
}
.leftbigsection1 {
    margin-top: 50px;
}
/*===============WELCOME-TEXT===============*/
/*===============WELCOME-TEXT===============*/
.welcome-test {
    /*background: #fff;
    padding: 34px;*/
    margin-bottom: 50px;
    /*box-shadow: 0px 0px 24px 0px #e4e4e4;*/
}
.welcome-test h1 {
    margin-bottom: 18px;
    font-size: 33px;
}
.our-services h1 {
    font-size: 33px;
    margin-bottom: 14px;
    text-align: center;
}
p.subtitles {
    text-align: center;
    margin-bottom: 41px;
}
.myservicescnt svg {
    width: 52px;
    height: 52px;
}
.myservicescnt g {
    fill: #38ceff;
}
.myservicescnt p {
    font-size: 16px;
}
.myservicescnt {
    background: #fff;
    padding: 28px 25px 30px 25px;
    transition: all 0.5s;
}
.myservicescnt .redmores {
    background: #38ceff;
    display: inline-block;
    padding: 9px 14px;
    color: #fff !important;
    border-radius: 4px;
    transition: all 0.5s;
    outline: none;
    border: none;
    font-size: 13px;
    box-shadow: none !important;
    cursor: pointer;
}
.myservicescnt h3 {
    margin: 10px 0;
    font-size: 20px;
}
/*===============WELCOME-TEXT===============*/
/*===============WELCOME-TEXT===============*/

#sidebar-container {
    min-height: 100vh;
}
/*div#sidebar-container .sticky-top {
    background: #d3ad7e;
}*/
.sticky-offset {
    top: 0px;
    margin-top: 25px;
    border: 1px solid #debb8f;
    background: rgb(252, 229, 205);
}
.rightbigsection1 {
    background: #fff;
    box-shadow: 0px 0px 10px 0px #eae8e8;
    margin-top: 40px;
}
a.redmoresbtns span {
    font-size: 13px;
    position: relative;
    top: 1px;
}
a.redmoresbtns {
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -8px;
}
.rightbigsection1 h4 {
    background: #222;
    padding: 18px 15px;
    color: #fff;
    font-size: 32px;
}
.rightbigsection1 h4 span{
    font-style: 15px;
}
.rightbigsection1 h4 span {
    font-size: 18px;
    position: relative;
    top: -6px;
}
.rightbigsection1.text-center h4 + p {
    font-size: 15px;
    margin-top: 18px;
}
.rightbigsection1  h5 {
    font-size: 17px;
}
.rightbigsection1  p a {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 18px;
    display: inline-block;
}
.rightbigsection1  p a span {
    position: relative;
    top: 2px;
}
.rightbigsection1 hr {
    width: 90%;
    margin: 22px auto;
    border-color: #efefef;
}
.savedraft a {
    display: block;
    width: 91%;
    border: 1px solid #f7dcba;
    padding: 10px 20px;
    text-align: center;
    margin: 15px auto;
    color: #000;
    font-weight: 600;
    border-radius: 2px;
    background: #d3ad7e;
}
.savedraft a span{
    position: relative;
    top: 2px;
}
.savedraft a:hover {
    background: #4472c4;
    color: #fff;
    border: 1px solid #4472c4;
}
.social-share ul {
    padding: 0;
    list-style: none;
    display: flex;
}
.social-share ul li a {
    display: inline-block;
    background: #ffffff;
    height: 33px;
    width: 36px;
    text-align: center;
    line-height: 39px;
    margin: 0 8px 0 0px;
    color: #252525;
    border-radius: 2px;
}
.social-share ul li a:hover{
    background: #4472c4;
    color: #fff;
}
.social-share {
    margin-top: 13px;
    padding: 15px 15px 2px 15px;
    border-top: 1px solid #c39d6e;
    margin-bottom: 5px;
}
.social-share li > span {
    position: relative;
    top: 7px;
    margin-right: 6px;
}
.social-share h4 {
    font-size: 18px;
    margin-bottom: 6px;
}

/*===============contact===============*/
.img-form label {
    margin: 0;
    font-size: 14px;
}
.contactform {
    background: #ffcc99;
    background-image: radial-gradient(farthest-corner at 50% 0%, rgba(255,255,255,0) 0%, #fff 133%);
    padding: 0;
}
.contactform .row > div{
    padding: 0;
}
.img-form input {
    border: none;
    border-bottom: 1px solid #8c8c8c;
    border-radius: 0px;
    padding: 0;
    line-height: 0px;
    height: 19px;
    outline: none;
    background: no-repeat;
}
.img-form textarea {
    border: none;
    border-bottom: 1px solid #8c8c8c;
    border-radius: 0px;
    padding: 0;
    background: no-repeat;
    line-height: 0px;
    height: 50px;
    outline: none;
}
.img-form input:focus, .img-form textarea:focus{
    box-shadow: none;
    background-color: transparent;
}
.img-form label {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.img-cnt{
    background-size: cover !important;
    background-repeat: no-repeat !important; 
    height: 400px;
}
/*===============contact===============*/


/*===============testimonials===============*/
.testimonials-bg {
    padding: 0 2px;
}
.testimonials-bg span.ti-quote-left {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
.owl-prev, .owl-next {
    margin-top: -22px;
}
    /*.testimonials-bg::after {
        content: "";
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        top: 0;
        width: 100%;
        z-index: -1;
    }*/
.testimonials-bg p {
    font-size: 19px;
    color: #fff;
    width: 100%;
    max-width: 850px;
    margin: 0 auto 22px auto;
    font-style: italic;
    letter-spacing: 0.5px;
}
.testimonials-bg h5 {
    color: #7ace7a;
}
.testimonials.text-center {
    position: relative;
    margin-bottom: 55px;
}
.testimonials h1 {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 33px;
    width: 100%;
    color: #fdfdfd;
    z-index: 9;
    top: 48px;
}
/*===============testimonials===============*/

.our-services {
    background: #ffecd9;
    padding: 20px 0px 85px 0;
}
.welcome-test .mtop25 {
    padding-bottom: 50px;
}



/*======================footers===============*/
/*======================footers===============*/


.footers {
    background: #151a23;
    padding: 40px 0px 0;
}
.fotbox h3 {
    color: #ffcc99;
}
.Footerbottom {
    /* padding-top: 12px; */
    border-bottom: 1px solid rgba(255,255,255,.07);
    padding-bottom: 20px;
}
.footer_btm .row {
    margin: 0;
}
.footer_btm p {
    color: #9a9a9a;
    letter-spacing: 0.4px;
    margin-bottom: 0;
    padding-bottom: 19px;
    font-size: 13px;
    padding-top: 17px;
}
/*.footertop {
   border-bottom: 1px solid rgba(255,255,255,.07);
}*/

.footer-social li {
   display: inline-block;
}
.footer-social li a {
    font-size: 18px;
    color: #efefef;
    padding: 0px 22px;
    border-left: solid 1px rgba(255,255,255,.07);
    display: inline-block;
    transition: all 0.3s;
}
.footer-social li a:hover{
    color: #fc7d08;
}
.fotbox h5 {
   text-transform: uppercase;
   font-size: 16px;
   /*font-family: Montserrat-Regular;*/
   font-weight: bold;
   letter-spacing: 0.5px;
   margin-bottom: 20px;
   margin-top: 18px;
   color: #e6e6e6;
}
.fotbox ul li a {
    font-size: 15px;
    color: #b1b1b1;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    display: inline-block;
    transition: all 0.4s;
    text-transform: capitalize;
}
.fotbox ul li a:hover{
   color: #0065ca;
}
.fotbox ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.subbox.fotbox {
    padding-left: 23px;
}
.fotbox p {
    font-size: 15px;
    color: #b1b1b1;
    line-height: 23px;
}
.fotbox.linksids {
    position: relative;
    left: 26px;
}
.footertop {
    margin-bottom: 28px;
}
.subbox input {
    background: #212833;
    border: none;
    float: left;
    color: #FFF!important;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    border-radius: 2px;
    width: 100%;
}
.subbox input {
    padding-right: 40px !important;
    box-sizing: border-box !important;
}
.subbox form {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 22px;
}
button.fotbox_submit {
    position: absolute;
    right: 8px;
    top: 10px;
    background: no-repeat;
    border: none;
    font-size: 19px;
    cursor: pointer;
    color: #7ace7a;
    border-left: 1px solid #5d5d5d;
    padding-left: 13px;
}
ul.footer-social.right li:last-child a {
    padding-right: 0;
}
/*======================footers===============*/
/*======================footers===============*/

/*======================NEW CSS 06-02-19 start===============*/
.Wlheading h3 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
    text-transform: uppercase;
}
.common-design.Wlheading p {
    text-align: justify;
}
ul.nav-bottoms li.ForMainSub{
    transition: all 0.5s;
}
.localdivs{
    padding: 20px 20px 0px 20px;
    box-shadow: 0px 0px 2px 0px #ccc;
    border: 1px solid #d3ad7e;
}
/*ul.nav-bottoms li.ForMainSub:hover ul.submenuli {
    display: block !important;
transition: all 0.5s;
}*/
.awesome-text h2 span {
    font-family: 'Muli', sans-serif;
    /* font-weight: bold; */
     font-size: 65px; 
    border-bottom: 4px solid#ff0000;
    color: red;
    text-shadow: none;
}
.showsubmenus {
    display: block !important;
    transition: all 0.5s;
}
.mymainlic label, .mymainlic5 label {
    position: absolute;
    left: 0;
}
.mymainlic {
    position: relative;
    padding-left: 215px;
    display: inline-block;
    width: 100%;
}
.mymainlic5 {
    position: relative;
    padding-left: 271px;
    display: inline-block;
    width: 100%;
}
/*======================NEW CSS 06-02-19 END===============*/
/*======================CREATE ACCOUNT START===============*/
.CrtFrom form {
    /* background: rgba(255, 255, 255, 0.2); */
    padding: 20px 20px 0px 20px;
    box-shadow: 0px 0px 2px 0px #ccc;
    border: 1px solid #d3ad7e;
}
.CrtFrom form input, .CrtFrom form textarea, .CrtFrom form select {
    background-color: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border: 1px solid #684133;
    height: 44px;
    padding: 3px 5px;
    margin-bottom: 15px;
    border-radius: 4px;
}
fieldset.birthdayPicker select:first-child {
    width: 50px !important;
}
fieldset.birthdayPicker select {
    margin: 0px 3px;
}
.CrtFrom form textarea {
height: 120px;
}
.CrtFrom form input::placeholder, .CrtFrom form textarea::placeholder{
    color: #000;
}
input#strtDat + input, input#endsDat + input {
    margin-left: 0px !important;
}

button.btn_sub.btn {
    display: inline-block;
    border: 1px solid #f7dcba;
    padding: 10px 20px;
    text-align: center;
    color: #000;
    font-weight: 600;
    border-radius: 2px;
    background: #d3ad7e;
    width: 100%;
    max-width: 110px;
}
button.btn_sub.btn:hover {
    background: #4472c4;
    color: #fff;
    border: 1px solid #4472c4;
}
.gj-icon:before {
    content: "\f073" !important;
    font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit !important;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 4px;
    left: 0;
}
.gj-icon {
    font-size: 0px !important;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    border: 1px solid #684133 !important;
}
.button-homeimg img {
    width: 100%;
}

.modal-dialog.m2dilog {
    max-width: 715px;
    margin: 1.75rem auto;
}
.m2dilog .modal-header {
    padding: 0.5rem;
}
/*======================CREATE ACCOUNT END===============*/

.inner-nuts img {
    width: 100%;
    max-width: 185px;
}
.inner-nuts h1 {
    font-size: 20px;
    position: absolute;
    z-index: 999;
    top: 76px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 130px;
    margin: 0 auto;
    color: #fff;
}



/*======================RESPONSIVE===============*/
/*======================RESPONSIVE===============*/
/*======================RESPONSIVE===============*/
/*======================RESPONSIVE===============*/
/*======================RESPONSIVE===============*/
/*======================RESPONSIVE===============*/



@media only screen and (max-width:767px){
	.col {
	    width: 100% !important;
	}	
	.banner_form {
	    bottom: -12px;
	    padding: 0 16px 0 0;
	}
	.car_cntfull {
	    background: #fff;
	    position: relative;
	    left: 0;
	    padding: 30px;
	    box-shadow: 14px 14px 0px 0px #efefef;
	    top: 0;
	    z-index: 9;
	}
	.mb_img img {
	    margin: 0px auto 45px auto;
	}
	nav .brand-logo {
	    -webkit-transform: translateX(0%);
	    transform: translateX(00%);
	}
	.main_header a.brand-logo img {
	    max-width: 203px;
	    padding: 10px 10px;
	    max-height: 68px;
	    position: relative;
	    top: -6px;
	}
	a.sidenav-trigger {
	    float: right;
	}
	a.sidenav-trigger i {
	    font-size: 24px;
	}
	.banner_cntform {
	    margin-top: 15px;
	}
	.subbox {
	    top: 0;
	    left: 0;
	    padding: 58px 23px 20px 21px;
	    margin: 20px 0;
	}
	.fotbox h5 {
	    margin-bottom: 13px;
	}
	.fotbox {
	    padding-top: 0;
	    padding-bottom: 30px;
	}
	.footers {
	    display: inline-block;
	    width: 100%;
	    margin-bottom: 0;
	    padding-top: 40px;
	}
	.footer_btm {
	    margin-bottom: 0;
	}
	#logo_sliderM .owl-nav {
	    display: none;
	}
	.gbjtext {
	    text-align: center;
	    padding-right: 10px;
	    padding-top: 5px;
	}
	.logo_main p {
	    padding-bottom: 0px;
	}
	.logo_main img {
	    padding-top: 8px;
	}
	.banner_form .tabs .tab a {
	    padding: 0;
	    font-size: 9px;
	}

}

#myModal-img .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px;
}

#myModal-img .modal-content {
    background-color: transparent;
   
}

#myModal-img .modal-dialog.m2dilog {
    max-width: 100%;
    margin: 0px;
    width: 100%;
}

.my_img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
    background: rgba(0, 0, 0, 0.9);
}
.my_img img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

/*#myModal-img
{
    background-position: center !important;
    background-size: center !important;
    background-repeat: no-repeat !important;
    height: 100vh;
}*/
.mainsectionC {
    display: none;
}
.pactive{
    display: block;
}

.mainsectionC ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #717171 !important;
}
.mainsectionC ::-moz-placeholder { /* Firefox 19+ */
  color: #717171 !important;
}
.mainsectionC :-ms-input-placeholder { /* IE 10+ */
  color: #717171 !important;
}
.mainsectionC :-moz-placeholder { /* Firefox 18- */
  color: #808080 !important;
}
.mainsectionC input, .mainsectionC textarea {
    color: #000;
}

/*div#testimonialssl {
    position: absolute;
    -webkit-transition: all 2.5s ease-in-out;
    -moz-transition: all 2.5s ease-in-out;
    -ms-transition: all 2.5s ease-in-out;
    -o-transition: all 2.5s ease-in-out;
    transition: all 2.5s ease-in-out;   
    width: 40%;
}*/
.row.displayones > div:first-child input {
    width: 100%;
}
.updatenews > div > .row > div {
    padding: 0;
}
section.mainsection > div > .row > div {
    padding: 0;
    position: inherit;
}
div#sidebar-container {
    padding-left: 15px;
    position: absolute;
    right: 0;
    top: 25%;
    padding-right: 0;
}
.displayones label {
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}
.displayones input {
    float: left;
    width: 100%;
}
.oneinputs {
    border: 1px solid #684133;
    border-radius: 4px;
    width: 100%;
    margin: auto;
}
.row.oneinputs > div {
    padding: 0;
}
.row.oneinputs input {
    margin: 0;
    border: none;
}
.mainsectionC h3 {
    margin: 0 0 22px 0;
}
.row.oneinputs .col-md-5::after, .row.oneinputs .col-md-3::after {
    content: "";
    height: 20px;
    width: 1px;
    background: #684133;
    position: absolute;
    top: 12px;
    right: 3px;
}
.yesclick, .noclick{
    display: none;
}
.yesnodiv {
    margin-bottom: 30px;
    background: #e8d7c0;
    padding: 14px;
    text-align: center;
}
.row.allvichelstab .col-md-2 {
    padding: 0 10px;
}
.row.allvichelstab > div:nth-child(2) {
    padding-left: 15px !important;
}
.row.allvichelstab > div:last-child{
    padding-right: 15px !important;
}
.row.allvichelstab select {
    width: 49px;
}
select#colorselector {
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background: #e0d2c1;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    font-style: italic;
}
.yesnodiv button {
    font-size: 18px;
    font-weight: bold;
    background: no-repeat;
    border: 2px solid #775429;
    width: 100px;
    padding: 5px;
    margin-top: 14px;
    margin-right: 5px;
    transition: all 0.4s;
    cursor: pointer;
}
.yesnodiv button:hover{
    background: #775429;
    color: #fff;
}
.row.oneinputs > div:first-child::after {
    content: "";
    height: 20px;
    width: 1px;
    background: #684133;
    position: absolute;
    top: 12px;
    right: 3px;
}
.radiodesign label.form-check-label span {
    content: '';
    position: absolute;
    left: -5px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #bf8b49;
    border-radius: 100%;
    background: #f5ddc3;
}
.radiodesign label.form-check-label [type="radio"]:checked + span::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #bf8b49;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.formcheckboxs label span:after{
    display: none;
}
.formcheckboxs label span:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #bf8b49;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
.formcheckboxs span {
    border: none !important;
    background: transparent !important;
}
.awesome-text ul {
    padding: 12px 0 0 18px;
}
.formcheckboxs label input:checked + span:after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: 10px;
    width: 7px;
    height: 18px;
    border: solid #635544;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.awesome-text {
    margin: 20px 0 40px;
}
.radiodesign label.form-check-label input {
    height: auto;
    opacity: 0;
}
.form-check.formcheckboxs.otherchechL {
    margin-top: 7px;
    display: flex;
    width: 256px;
}
.lastresivstion label {
    display: block;
    width: 100%;
}
.radiodesign .form-check {
    margin: 7px 0;
    cursor: pointer;
}
.form-check-label {
    cursor: pointer;
}
.dblocknew {
    width: 100%;
    max-width: 230px;
    margin-top: 10px;
}
.noclick .row {
    padding-left: 10px;
    padding-top: 8px;
}
.other-showchild, .dblocknew{
    display: none;
}
.other-showchild {
    width: 100%;
    max-width: 230px;
    margin-left: 10px;
    position: relative;
    top: 0px;
}
.Newcontact {
    padding: 20px 20px 0px 20px;
    box-shadow: 0px 0px 2px 0px #ccc;
    border: 1px solid #d3ad7e;
}
.Newcontact input {
    background-color: transparent !important;
    border: 1px solid #684133 !important;
    height: 44px !important;
    margin-bottom: 15px;
}
.addresslist {
    display: block;
    width: 100%;
    margin-top: 30px;
    max-width: 323px;
    margin: 0 auto;
}
.listones {
    display: inline-block;
    width: 100%;
}
div#jssor_1 {
    width: 100% !important;
    overflow: visible !important;
}
.listones p {
    float: left;
    width: 50%;
    margin: 0 0 12px 0;
    line-height: 24px;
}
.selectulli ul {
    padding: 0;
    list-style: none;
    margin: 0;
    height: 100%;
    position: relative;
    z-index: 9;
}
.selectulli li.option {
    line-height: 42px;
    padding: 0 10px;
    color: #fff;
}
.selectulli .mainlists{
    display: none;
}
.selectulli {
    border: 1px solid #684133;
    height: 44px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 9px;
}
.parkvalues{
    display: none;
}
input.parkvalues {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: #fff1e3 !important;
}
.putselectval{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 42px;
    padding: 8px 5px;
    top: 0;
    z-index: 999;
    background: #fff1e3 !important;
}
.selectulli:after {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ffffff;
    position: absolute;
    right: 8px;
    top: 18px;
    z-index: 9999;
}
.selectulli li.option:nth-child(1) {
    background: #9a4608;
}
.selectulli li.option:nth-child(2) {
    background: rgb(166, 107, 212);
}
.selectulli li.option:nth-child(3) {
    background: rgb(6, 173, 239);
}
.selectulli li.option:nth-child(4) {
    background: rgb(155, 204, 1);
}
.selectulli li.option:nth-child(5) {
    background: rgb(253, 254, 3);
    color:#222;
}
.selectulli li.option:nth-child(6) {
    background: rgb(242, 62, 185);
}
.selectulli li.option:nth-child(7) {
    background: rgb(252, 190, 143);
}
.selectulli b {
    display: block;
    padding: 10px;
}
ul.particularins input {
    height: 15px;
    width: 16px;
    position: relative;
    top: 2px;
}
ul.particularins li {
    background-color: #d3ad7e;
    padding: 0 13px;
    font-weight: bold;
}
ul.particularins {
    display: none;
}
ul.particularins label {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.Newcontact h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
}
.Newcontact textarea {
    background-color: transparent !important;
    border: 1px solid #684133 !important;
    margin-bottom: 15px;
}
.favorite-rvpark {
    margin-bottom: 15px;
}
.favorite-rvpark p {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background: #e0d2c1;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    font-style: italic;
}
.nuts-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    height: 100vh;
    z-index: 99999999999999999999;
    transition: all 0.5s;
    transform: scale(0);
}
.nuts-opens{
    transform: scale(1); 
}
.inner-nuts {
    transform: translateY(130%);
}
.mb20 {
    margin-bottom: 30px;
}
#myModal .close {
    position: absolute;
    right: 7px;
    top: 0px;
    z-index: 99999;
    opacity: 1;
    font-size: 35px;
}
#myModal .modal-body {
    padding: 30px;
}
#myModal p {
    font-size: 20px;
    margin: 5px 0 5px 0;
}
#myModal p span {
    text-decoration: underline;
    color: #4472c4;
}
/*.inner-nuts h1 {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
  margin-top: 20px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(30px);
  }
}
*/
.inner-nuts img{
  -moz-animation: bounce1 1s infinite;
  -webkit-animation: bounce1 1s infinite;
  animation: bounce1 1s infinite; 
}
@keyframes bounce1 {
  0%, 20%, 50%, 80%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
}

.localdivs table td, .localdivs table th {
    border: 1px solid #747474 !important;
}
.localdivs table th {
    font-size: 20px;
}
.localdivs table td a {
    color: #2c63c4;
    font-size: 17px;
}
.localdivs ul, .policiesdiv ul {
    padding: 0;
}
.localdivs ul li, .policiesdiv ul li {
    position: relative;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 11px;
}
.localdivs ul li span, .policiesdiv ul span {
    position: absolute;
    top: 4px;
    left: 0;
}
.localdivs ul li a {
    color: #2c63c4;
    font-size: 17px;
}
.localdivs h3 {
    margin: 4px 0 21px 0;
}
.form_required,
.form_required a {
    color: #ff0000;
    cursor: pointer;
}

.radiodesign label.form-check-label [type="radio"]:checked + span::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #bf8b49;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.menuhover > li:hover .submenuli{
    visibility: visible;
    opacity: 1;
    }
.button-homeimg2 {
        display: none !important;
}

